FORMAT: 1A
HOST: http://www.exacttargetapis.com/

# ExactTarget API Specifications - Prototype
Prototypes of ExactTarget APIs.

# Group Account Resource

## Account Object DRAFT [/accounts/{id,objectId}]

Definition of an Account resource

+ Model (application/json)
    JSON Representation of a single Account resource. Based on http://help.exacttarget.com/en/technical_library/web_service_guide/objects/account/  
    + Body
    
            {
                "accountType" : "EXACTTARGET",
                "address" : "301 Brannan St., Suite 100, San Francisco, CA 94107",
                "brandId" : 0, 
                "businessName" : "Business Name of an account's owner",
                "children" : [ 1, 2, 3, 4], 
                "city" : "San Francisco",
                "client" : "<client-id>",
                "country" : "United States",
                "createdDate" : "2014-02-27T22:14:38+00:00",
                "deletedDate" : "2014-02-27T22:14:38+00:00",
                "editionId" : 123,
                "email" : "an@email.com",
                "fax" : "415-555-5555",
                "fromName" : "Sender's Name - Deprecated",
                "id" : 123,
                "inheritedAddress" : false,
                "isActive" : 1,
                "isTestAccount" : false,
                 "localeCode" : "US",
                "modifiedDate": "2014-02-27T22:14:38+00:00",
                "name" : "A fake account",
                "objectId" : "<guid>",
                "orgId" : 323,
                "ownerId" : 123,
                "parentId" : 133,
                "partnerKey" : "myPartnerKey",
                "phone" : "415-555-5322",
                "state" : "California",
                "timezoneId" : 87,
                "zip" : "94107"
            }

+ Parameters
    + objectId (optional) ... objectId for the account, required if no id is specified
    + id (required) ... id for the account, required if no objectId is specified

### Retrieve an Account [GET]

+ Response 200
    [Account Object DRAFT][]


## EmailSnippetsEntity [/v1/accounts/{memberId}/snippets/email]
A single EmailSnippetsEntity with all of its details


+ Model (application/json)

        {
            "_links": {
                "parent": { "href": "/v1/accounts/{memberId}"},
                "self":   { "href": "/v1/accounts/{memberId}/snippets/email" },
            },
            "emailSnippets": [{
                "name": "TRACK_EMAIL",
                "displayName": "Track Email Opens",
                "value": "<custom name=\"opencounter\" type=\"tracking\">",
            },
            {
                "name": "PHYSICAL_MAILING",
                "displayName": "Physical Mailing Address (Required)",
                "value": "<table cellpadding=\"2\" cellspacing=\"0\" width=\"600\" ID=\"Table5\" Border=0><tr><td><font face=\"verdana\" size=\"1\" color=\"#444444\">This email was sent to:  %%emailaddr%% <br><br><b>Email Sent By:</b> %%Member_Busname%%<br>%%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%<br><br></font></td></tr></table>"
            },
            {
                "name": "FORWARD_FRIEND",
                "displayName": "Forward to a Friend",
                "value": "<a href=\"%%ftaf_url%%\"><img src=\"http://www.exacttarget.com/members/newsletters/gfx/forwardafriendicon.gif\" border=\"0\"></a>"
            },
            {
                "name": "VIEW_EMAIL",
                "displayName": "View Email as a Web Page",
                "value": "To view this email as a web page, click <a href=\"%%view_email_url%%\">here.</a>"
            },
            {
                "name": "PRIVACY_POLICY",
                "displayName": "Privacy Policy",
                "value": "We respect your right to privacy - click <a href=\"http://email.exacttarget.com/company-anti-sp-policy.asp\">here</a> to view our policy."
            },
            {
                "name": "UNSUBSCRIBE_CENTER",
                "displayName": "Unsubscribe Center",
                "value": "<a href=\"%%unsub_center_url%%\" alias=\"Unsubscribe\">Unsubscribe</a>"
            },
            {
                "name": "PROFILE_CENTER",
                "displayName": "Profile Center (Required)",
                "value": "<a href=\"%%profile_center_url%%\" alias=\"Update Profile\">Update Profile</a>"
            },
            {
                "name": "SUBSCRIPTION_CENTER",
                "displayName": "Subscription Center",
                "value": "<a href=\"%%subscription_center_url%%\" alias=\"Manage Subscriptions\">Manage Subscriptions</a>"
            },
            {
                "name": "POWERED_BY_LOGO",
                "displayName": "Powered By Logo",
                "value": "<a href=\"http://www.exacttarget.com\"><img src=\"http://images.exacttarget.com/smalllogo2.gif\" border=\"0\"></a>"
            },
            {
                "name": "SOCIAL_MARKUP",
                "displayName": "Social Markup",
                "value": "<!-- RegionStart[ contentslot:\"slotname\", title:\"Title of Shared Content web page\", description:\"customer key of CSS file in portfolio\", csskey:\"Description of Shared Content web page\"] -->\n<!-- Creates a link to share this content with a social network -->\n<a href=\"%%=GetSocialPublishURL('replacewithsocialnetwork','slotname')=%%\" alias=\"Publish to Social Network Name - slotname\" title=\"Publish to Social Network Name\"><img src=\"icon url\" alt=\"Social Network Name\" title=\"Social Network Name\" border=\"0\"></a>\n<!-- RegionEnd[ contentslot:\"slotname\"] -->"
            },
            {
                "name": "FACEBOOK_LIKE_1",
                "displayName": "Facebook Like",
                "value": "<!-- RegionStart[ contentslot:\"slotname\"] -->\r\n\r\n<!-- Creates a Facebook 'LIKE' button.  Content slot name in RegionStart/RegionEnd must match the value of the \"contentslot\" \r\n     JSON property.  JSON properties in \"templates\" map to Facebook Like Widget properties as of '8/25/2011'.   \r\n     See http://developers.facebook.com/docs/reference/plugins/like/ for additional documentation for the 'LIKE' properties below. -->\r\n\r\n<div id=\"CONTAINER_FB1399386754263\"><!-- %%[ IF _MessageContext == \"Social\" THEN ]%% -->\r\n<!--__FBDIV_FB1399386754263__-->\r\n<!-- %%[ ELSE ]%% -->\r\n<a href=\"%%=GetSocialPublishURL('13','FB1399386754263')=%%\" id=\"FB1399386754263\" alias=\"Publish Like to Facebook\" fb=\"true\">\r\n<img border=\"0\" alt=\"Facebook Like\" src=\"\" />\r\n</a>\r\n<!-- %%[ ENDIF ]%% -->\r\n  <!-- {\"id\":\"FB1399386754263\",\r\n        \"type\":\"facebooklike\",\r\n        \"contentslot\":\"slotname\",\r\n        \"templates\":{\r\n        \"ogtags\":[{\"property\":\"og:title\",\"content\":\"title\"},\r\n                    {\"property\":\"og:description\",\"content\":\"\"},\r\n                    {\"property\":\"og:site_name\",\"content\":\"localhost\"},\r\n                    {\"property\":\"og:image\",\"content\":\"\"},\r\n                    {\"property\":\"fb:app_id\",\"content\":\"1234567890\"},\r\n                    {\"property\":\"og:type\",\"content\":\"article\"}],\r\n        \"fblike\":{\r\n          \"send\":false,\r\n          \"layout\":\"standard\",\r\n          \"show_faces\":true,\r\n          \"width\":450,\r\n          \"action\":\"like\",\r\n          \"font\":\"arial\",\r\n          \"colorscheme\":\"light\",\r\n          \"ref\":\"\"}}} -->\r\n</div>\r\n<!-- RegionEnd[ contentslot:\"slotname\"] -->\r\n"
            }]
        }

### Retrieve emailSnippets [GET]
+ Response 200 (application/json)

    [EmailSnippetsEntity][]


# Group Jobs resource

## Jobs - v1 [/v1/jobs/]
A collection of job objects.

+ Model (application/json)
    JSON Representation of a subscriber with list status data.
    + Body
    
            {
                "count":2,
                "page":1,
                "pageSize":25,
                "_links": {
                    "self": { "href": "/jobs/" },
                },
                "items" : [
                    {
                        "id" : "15324",
                        "emailId" : 31448, 
                        "status" : "Pending",
                        "fromName" : "Scott",
                        "fromEmail" : "Scott@exacttarget.com",
                        "name" : "Amp Script in Email",
                        "emailSubject" : "Amp Script in Email",
                        "scheduledTime" : "2014-03-29T17:00:00",
                        "totalSendCount" : 0,
                        "targetLists" : [
                            {
                                "id" : 10253,
                                "name" : "Main List",
                                "objectType" : "List"
                            },
                            {
                                "id" : 134064,
                                "name" : "Gmail",
                                "objectType" : "List"
                            }
                        ],
                        "suppressionLists" : [
                            {
                                "objectId" : "8E844912-1429-E211-B468-0022642D9886",
                                "name" : "Another List",
                                "objectType" : "CustomObject"
                            },
                            {
                                "id":134065,
                                "name":"Not This One",
                                "objectType" : "List"
                            }
                        ]
                    },
                    {
                        "id" : "36548",
                        "emailId" : 31448, 
                        "status" : "Pending",
                        "fromName" : "Scott",
                        "fromEmail" : "Scott@exacttarget.com",
                        "name" : "Another Email",
                        "emailSubject" : "This is another email",
                        "scheduledTime" : "2014-03-30T09:00:00",
                        "totalSendCount" : 0,
                        "targetLists" : [
                            {
                                "id" : 10253,
                                "name" : "Main List",
                                "objectType" : "List"
                            },
                            {
                                "id" : 134064,
                                "name" : "Gmail",
                                "objectType" : "List"
                            }
                        ],
                        "suppressionLists" : [
                            {
                                "objectId" : "8E844912-1429-E211-B468-0022642D9886",
                                "name" : "Another List",
                                "objectType" : "CustomObject"
                            },
                            {
                                "id":134065,
                                "name":"Not This One",
                                "objectType" : "List"
                            }
                        ]
                    }
                ]
            }

### Retrieve a collection of jobs [GET]
+ Response 200
    [Jobs - v1][]

## Job - v1 [/v1/jobs/{id}]
A single job object.

+ Parameters
    + id (required, number, `123`) ... Numeric `id` of the job.

+ Model (application/json)
    JSON Representation of a subscriber with list status data.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/jobs/{id}" },
                    "parent": { "href": "/jobs/" },
                    "events" : { "href" : "/jobs/{id}/events" }
                    "status" : { "href" : "/jobs/{id}/status" }
                },
                "id" : "{id}",
                "emailId" : 31448, 
                "status" : "Pending",
                "fromName" : "Scott",
                "fromEmail" : "Scott@exacttarget.com",
                "name" : "Amp Script in Email",
                "emailSubject" : "Amp Script in Email",
                "scheduledTime" : "2014-03-29T17:00:00",
                "totalSendCount" : 0,
                "targetLists" : [
                    {
                        "id" : 10253,
                        "name" : "Main List",
                        "objectType" : "List"
                    },
                    {
                        "id" : 134064,
                        "name" : "Gmail",
                        "objectType" : "List"
                    }
                ],
                "suppressionLists" : [
                    {
                        "objectId" : "8E844912-1429-E211-B468-0022642D9886",
                        "name" : "Another List",
                        "objectType" : "CustomObject"
                    },
                    {
                        "id":134065,
                        "name":"Not This One",
                        "objectType" : "List"
                    }
                ]
            }

### Retrieve a job [GET]
+ Response 200
    [Job - v1][]

### Update a job [PATCH]
+ Request (application/json)

        {
            "scheduledTime" : "2014-03-29T17:00:00"
        }
        
+ Response 200
    [Job - v1][]

## Jobs Events [/jobs/{id}/events{?fields}]
A single Event object belonging to a job.  Always returns the latest values for the job, no date/time filtering allowed.

+ Parameters
    + id (required, number, `123`) ... Numeric `id` of the Job to retrieve events from
    + fields (optional, string, `sent,delivered,bouncesHard,bouncesSoft,bouncesBLocked,uniqueOpened,uniqueClicked,unsubscribed` ) ... Comma Separated string of event fields to be returned. 

+ Model (application/json)
    JSON Representation of events that have occurred on a job. Percents are a percent of toSend.  Need to discuss minimum percentages.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/jobs/{id}/events" },
                    "message" : { "href" : "/messages/{messageId}" },
                    "parent": { "href": "/jobs/{id}" }
                },
                "id": "{id}",
                "memberId" : "{memberId}",
                "messageId" : "{messageId}",
                "sent" : { 
                  "count" : 18500 
                },
                "delivered": { 
                  "count" : 18336, 
                  "percent" : 99.114
                },
                "bounced" : { 
                  "count" : 164, 
                  "percent" : 0.009,
                  "hard" : 12, 
                  "soft" : 100, 
                  "blocked" : 50,
                  "technical" : 1,
                  "unknown" : 1
                },
                "opened" : { 
                  "unique" : {
                    "count" : 18133,
                    "percent" : 98.731
                  },
                  "count" : 18200
                },
                "clicked" : { 
                  "unique" : {
                    "count" : 18022,
                    "percent" : 98.288
                  },
                  "count" : 18300
                },
                "unsubscribed": { 
                  "count" : 33, 
                  "percent" : 0.002 
                },
                "errored" : { 
                  "count" : 0
                }
            }

### Retrieve Events for a job [GET]
+ Response 200
    [Jobs Events][]

## Jobs Status [/jobs/{id}/status{?fields}]
Status information of a job

+ Parameters
    + id (required) ... id of the job
    + fields (optional, string ) ... Comma Separated string of event fields to be returned.
        + Values 
            + `total`
            + `pending`
            + `processing`
            + `completed`

+ Model (application/json)
    JSON Representation of status of a job.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/jobs/{id}/status" },
                    "parent": { "href": "/jobs/{id}" }
                },
                "id": "{id}",
                "total": 100000,
                "pending" : { 
                    "count" : 2000,
                    "percent" : 2.000
                },
                "processing" : { 
                    "count" : 3000,
                    "percent" : 3.000
                },
                "completed" : { 
                    "count" : 95000,
                    "percent" : 95.000
                }
            }

### Retrieve Account Job Status [GET]
+ Response 200
    [Jobs Status][]


# Group Message Resource

## Send a Triggered Message [/messaging-internal/v1/messages/{id}/send]
Send a message using a pre-existing triggered send definition


### Send a triggered send definition message [PUT]
+ Request (application/json)

        {
            "customerKey": "Send Customer Key",
            "emailAddress" : "an@email.com",
            "subscriberKey" : "an@email.com",
            "attributes" : [
                /* any attributes */
            ]
        }
        
+ Response 202

# Group Contact API
Documentation of the ContactServices API

## General API Contracts

 `filterJSON` Specification
    
    {
        "conditionSet" : {      
            "operator" : "And", 
            "conditionSets" : [],
            "conditions" : [{    
                "attribute" : {  
                    "key" : "",  
                    "id" : "",   
                    "isCustomerData" : false
                },
                "operator" : "In",                  
                "values" : ["", "",]
            }]
        }
    }


## First Class Resources
 
 - __Contact__ - a single contact resource identifiable by either a ContactID or a ContactKey
 - __ContactEvent__ a event linked to an identifiable contact by either a ContactID or a ContactKey.
 - __Schema__- the model representation of all data related to contacts for a given account. 
 - __AttributeSet__ - the data related to a specific collection of *AttributeDefinitions* within the *ContactSchema*

## FilterJSON [/search]

+ Model (application/json)

    JSON Representation of a `filterJSON' object.
    + Body
            
            {
                "conditionSet" : {      
                    "operator" : "And", 
                    "conditionSets" : [],
                    "conditions" : [{    
                        "attribute" : {  
                            "key" : "MobileDemographics.MobileNumber",  
                            "id" : "",   
                            "isCustomerData" : false
                        },
                        "operator" : "In",                  
                        "values" : ["3171233456", "",]
                    }]
                }
            }


# Group Contact

## Contacts Collection [/contacts] 
A collection of Contacts.

+ Model (application/json)
    
    + Body
            
            {
                "count": 2,
                "page": 1,
                "pageSize": 25,
                "_links": {
                    "self": { "href": "/contacts/{?filter}" },
                    "schemas": { "href": "/schemas" },
                    "contactSchemas": { "href": "/schemas/type:{contacts}" },
                },
                "items": [{
                        "contactID": 12345,
                        "contactKey": "sgest@somewhere.com"
                    },
                    {
                        "contactID": 2343,
                        "contactKey": "ugest@somewherelse.com"
                    }
                ]
            }

### Create Contacts [POST]
+ Request
    
        {
            "contactKey": null,
            "contactId": null,
            "attributeSets": [{
                "name": "Email Demographics",
                "items": [{
                    "values": [{
                        "name": "Last Name",
                        "value": "Nukem"
                    },
                    {
                        "name": "First Name",
                        "value": "Antoine"
                    }]
                }]
            },
            {
                "name": "Email Addresses",
                "items": [{
                    "values": [{
                        "name": "Email Address",
                        "value": "tnewcome@exacttarget.com"
                    },
                    {
                        "name": "HTML Enabled",
                        "value": true
                    }]
                }]
            }]
        }

        
+ Response 200
    [Contacts Collection][]

### Update Contacts [PATCH]
+ Request
    
        {
            "contactKey": "tnewcome@exacttarget.com",
            "contactId": 12345678,
            "attributeSets": [{
                "name": "Email Demographics",
                "items": [{
                    "values": [{
                        "name": "Last Name",
                        "value": "Nukem"
                    },
                    {
                        "name": "First Name",
                        "value": "Antoine"
                    }]
                }]
            },
            {
                "name": "Email Addresses",
                "items": [{
                    "values": [{
                        "name": "Email Address",
                        "value": "tnewcome@exacttarget.com"
                    },
                    {
                        "name": "HTML Enabled",
                        "value": true
                    }]
                }]
            }]
        }

+ Response 200
    [Contacts Collection][]

### Replace Contacts [PUT]
+ Request
    
        {
            "contactKey": "tnewcome@exacttarget.com",
            "contactId": 12345678,
            "attributeSets": [{
                "name": "Email Demographics",
                "items": [{
                    "values": [{
                        "name": "Last Name",
                        "value": "Nukem"
                    },
                    {
                        "name": "First Name",
                        "value": "Antoine"
                    }]
                }]
            },
            {
                "name": "Email Addresses",
                "items": [{
                    "values": [{
                        "name": "Email Address",
                        "value": "tnewcome@exacttarget.com"
                    },
                    {
                        "name": "HTML Enabled",
                        "value": true
                    }]
                }]
            }]
        }

+ Response 200
    [Contacts Collection][]

## Search Contacts [/schema/{schemaId}/contacts/search]
Retrieve a list of contacts that match a filter condition represented as `filterJSON` posted in the message body.

### Search Contacts [POST]
+ Request 
    [FilterJSON][]
+ Response 200
    [Contacts Collection][]

# Group ContactEvent

## ContactEvent [/contactEvents]
Definition of a ContactEvent

+ Model (application/json)
    JSON representation of a single ContactEvent  resource.

    + Body
    
            {
        
                "contactKey": "sgest@comewhere.com",
                "contactID": "1234567",
                "eventDefinitionKey": "myevent",
                "data": [{
                    "key": "RetailOrderEvent",
                    "name": "Retail Order Event",
                    "id": "5CE001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "items": [{
                        "values": [{
                            "name": "Customer Key",
                            "value": "tnewcome@exacttarget.com",
                        },
                        {
                            "name": "Order Number",
                            "value": "123456"
                        },
                        {
                            "name": "Order Total",
                            "value": "177.99"
                        }]
                    }]
                }]
            }

### Create a ContactEvent [POST]
+ Request
    [ContactEvent][]
+ Response 200
    [ContactEvent][]

# Group Schema
Schema related resources of the *Contacts-API*

## Schemas Collection [/schemas]

+ Model (applcation/json)
JSON representation of a Schema collection response.

    + Body
        
            {
                "count": 2,
                "page": 1,
                "pageSize": 25,
                "links": {
                    "self": { "href": "/schemas" }
                },
                "items":[{
                    "links": {
                        "self": { "href": "/schemas/{schemaId}" }
                        "attributeGroups": { "href": "/schemas/{schemaId}/attributeGroups" },
                        "attributeSetDefinitions": { "href": "/schemas/{schemaId}/attributeSetDefinitions" }
                    }
                    "id": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "version": 1,
                    "schemaType": "Contacts",
                    "enterpriseID": 10650001,
                    "availableBusinessUnits": [10650002,10650003]
                },
                {
                    "links": {
                        "self": { "href": "/schemas/{id}" }
                        "attributeGroups": { "href": "/schemas/{id}/attributeGroups" },
                        "attributeSetDefinitions": { "href": "/schemas/{id}/attributeSetDefinitions" }
                    }
                    "id": "E6158F81-ABAB-E311-80AE-08EDB9DDEBF0",
                    "version": 1,
                    "schemaType": "Contacts",
                    "enterpriseID": 10650001,
                    "availableBusinessUnits": [10650004,10650005]
                }]
            }

### Retrieve the Schemas collection for the current account [GET]
+ Response 200
    [Schemas Collection][]

## Schema by SchemaId [/schemas/{schemaId}]

+ Model (application/json)
JSON representation of a Schema response payload.

    + Body
    
            {
                "schema":{
                    "id": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "version": 1,
                    "schemaType": "Contacts",
                    "enterpriseID": 10650001,
                    "availableBusinessUnits": [10650002,10650003],
                    "links": {
                        "self": { "href": "/schemas/{schemaId}" }
                        "attributeGroups": { "href": "/schemas/{schemaId}/attributeGroups" },
                        "attributeSetDefinitions": { "href": "/schemas/{id}/attributeSetDefinitions" }
                    }
                }
            }

### Retrieve a Schema by Id [GET]
+ Response 200
    [Schema by SchemaId][]

## AttributeGroup Collection [/schemas/{SchemaId}/attributeGroups]
A colection of AttributeGroup references.

+ Model (applcation/json)

    + Body
    
            {
                "count": 2,
                "page": 1,
                "pageSize": 25,
                "links": {
                    "self": {"href": "/schemas/{schemaId}/attributeGroups" },
                    "schema": {"href": "/schemas/{schemaId}" },
                },
                "items": [{
                    "links": {
                        "self": {"href": "/attributeGroups/{id}" }
                    },
                    "id": "4de15aca-2c17-e311-bb14-00237d5401ce",
                    "key": "com.exacttarget.mobilepush.ETMobilePush",
                    "name": "ExactTarget MobilePush",
                    "parentId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0"
                },
                {
                    "links": {
                        "self": {"href": "/attributeGroups/{id}" }
                    },
                    "id": "4de15aca-2c17-e311-bb14-00237d5401ce",
                    "key": "com.exacttarget.mobilepush.ETMobilePush",
                    "name": "ExactTarget MobilePush",
                    "parentId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0"
                }]
            }

### Retrieve an AttributeGroup Collection for an identified Schema [GET]
+ Response 200
    [AttributeGroup Collection][]

## AttributeGroup by Id [/schemas/{schemaId}/attributeGroups/{id}]
A single AttributeGroup object.

+ Model (applcation/json)
JSON Representation of a single AttributeGroup resource.

    + Body
    
            {
                
                "attributeGroup": {
                    "links": {
                        "self": {"href": "/schemas/{parentReferenceId}/attributeGroups/{id}" },
                        "schema": {"href": "/schemas/{parentReferenceId}" },
                        "attributeSetDefinitions": {"href": "/schemas/{parentReferenceId}/attributeGroups/{id}/attributeSetDefinitions" 
                    },
                    "id": "4de15aca-2c17-e311-bb14-00237d5401ce",
                    "key": "com.exacttarget.mobilepush.ETMobilePush",
                    "name": "ExactTarget MobilePush",
                    "schemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "isSystemDefined": true,
                    "applicationID": "131975ED-E859-4CC9-B479-62A615BC6C8A",
                    "applicationKey": "com.exacttarget.mobilepush",
                    "templateID": 100,
                    "fullyQualifiedName": "com.exacttarget.mobilepush.ETMobilePush",
                    "attributeGroupType": "standard",
                    
                },
                }
            }

### Retrieve an AttributeGroup by Id [GET]
+ Response 200
    [AttributeGroup by Id][]

## AttributeGroup by Key [/schemas/{schemaId}/attributeGroups/key:{key}]
A single AttributeGroup object.

+ Model (applcation/json)

    + Body
    
            {
                "attributeGroup": {
                    "links": {
                        "self": {"href": "/schemas/{schemaId}/attributeGroups/{id}" },
                        "schema": {"href": "/schemas/{schemaId}" },
                        "attributeSetDefinitions": {"href": "/schemas/{schemaId}/attributeGroups/{id}/attributeSetDefinitions" }
                    },
                    "id": "4de15aca-2c17-e311-bb14-00237d5401ce",
                    "key": "com.exacttarget.mobilepush.ETMobilePush",
                    "name": "ExactTarget MobilePush",
                    "schemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "isSystemDefined": true,
                    "applicationID": "131975ED-E859-4CC9-B479-62A615BC6C8A",
                    "applicationKey": "com.exacttarget.mobilepush",
                    "templateID": 100,
                    "fullyQualifiedName": "com.exacttarget.mobilepush.ETMobilePush",
                    "attributeGroupType": "standard"
                }
            }

### Retrieve an AttributeGroup by Key [GET]
+ Response 200
    [AttributeGroup by Key][]

## AttributeGroup by Name [/schemas/{schemaId}/attributeGroups/name:{name}]
A single AttributeGroup object.

+ Model (applcation/json)

    + Body
    
            {
                "attributeGroup": {
                    "links": {
                        "self": {"href": "/schemas/{schemaId}/attributeGroups/{id}" },
                        "schema": {"href": "/schemas/{schemaId}" },
                        "attributeSetDefinitions": {"href": "/schemas/{schemaId}/attributeGroups/{id}/attributeSetDefinitions" }
                    },
                    "id": "4de15aca-2c17-e311-bb14-00237d5401ce",
                    "key": "com.exacttarget.mobilepush.ETMobilePush",
                    "name": "ExactTarget MobilePush",
                    "schemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "isSystemDefined": true,
                    "applicationID": "131975ED-E859-4CC9-B479-62A615BC6C8A",
                    "applicationKey": "com.exacttarget.mobilepush",
                    "templateID": 100,
                    "fullyQualifiedName": "com.exacttarget.mobilepush.ETMobilePush",
                    "attributeGroupType": "standard"
                }
            }

### Retrieve an AttributeGroup by Name [GET]
+ Response 200
    [AttributeGroup by Name][]

## AttributeSetDefinition Collection [/schemas/{schemaId}/attributeSetDefinitions]
A collection of AttributeSetDefinition references for the identified schema.

+ Model (applcation/json)

    + Body
    
            {
                "count": 2,
                "page": 1,
                "pageSize": 25,
                "links": {
                        "self": { "href": "/schemas/{schemaId}/attributeSetDefinitions" }
                        "schema": { "href": "/schemas/{schemaId}" },
                    },
                "items": [{
                    "links": {
                        "self": { "href": "/attributeSetDefinitions/{id}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "MobileConnect Demographics",
                    "key": "com.exacttarget.mobileconnect.MobileDemographics",
                    "parentId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0"
                },
                {
                    "links": {
                        "self": { "href": "/attributeSetDefinitions/{id}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "Retail Orders",
                    "key": "RetailOrders",
                    "parentId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0"
                }]    
            }

### Retrieve an AttributeSetDefinitions Collection [GET]
+ Response 200
    [AttributeSetDefinition Collection][]


## AttributeGroups AttributeSetDefinition Collection [/attributeGroups/{id}/attributeSetDefinitions]
A collection of AttributeSetDefinition references for the identified schema.

+ Model (applcation/json)

    + Body
    
            {
                "count": 2,
                "page": 1,
                "pageSize": 25,
                "links": {
                        "self": { "href": "/attributeGroups/{groupId}/attributeSetDefinitions" }
                        "schema": { "href": "/schemas/{schemaId}" },
                        "attributeGroup": { "href": "/attributeGroups/{groupId}" },
                    },
                "items": [{
                    "links": {
                        "self": { "href": "/attributeSetDefinitions/{id}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "MobileConnect Demographics",
                    "key": "com.exacttarget.mobileconnect.MobileDemographics",
                    "parentId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0"
                },
                {
                    "links": {
                        "self": { "href": "/attributeSetDefinitions/{id}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "Retail Orders",
                    "key": "RetailOrders",
                    "parentId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0"
                }]    
            }

### Retrieve an AttributeGroups AttributeSetDefinitions Collection [GET]
+ Response 200
    [AttributeGroups AttributeSetDefinition Collection][]

## AttributeSetDefinition by Id [/schemas/{schemaId}/attributeSetDefinitions/{id}]
A single AttributeSetDefinition object.

+ Model (applcation/json)

    + Body
    
            {
                "attributeSetDefinition": {
                    "links": {
                        "self": { "href": "/schemas/{schemaId}/attributeSetDefinitions/{id}" },
                        "schema": { "href": "/schemas/{schemaId}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "MobileConnect Demographics",
                    "key": "MobileDemographics",
                    "schemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "relationships": [],
                    "attributes": [],
                    ...
                    ...more 
                }    
            }
            
### Retrieve an AttributeSetDefinition by Id [GET]
+ Response 200
    [AttributeSetDefinition by Id][]

## AttributeSetDefinition by Key [/schemas/{id}/attributeSetDefinitions/key:{key}]
A single AttributeSetDefinition object.

+ Model (applcation/json)

    + Body
    
            {
                "attributeSetDefinition": {
                    "links": {
                        "self": { "href": "/schemas/{schemaId}/attributeSetDefinitions/{id}" },
                        "schema": { "href": "/schemas/{schemaId}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "MobileConnect Demographics",
                    "key": "MobileDemographics",
                    "schemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "relationships": [],
                    "attributes": [],
                    ...
                    ...more 
                }    
            }
            
### Retrieve an AttributeSetDefinition by Key [GET]
+ Response 200
    [AttributeSetDefinition by Key][]

## AttributeSetDefinition by Name [/schemas/{id}/attributeSetDefinitions/name:{name}]
A single AttributeSetDefinition object.

+ Model (applcation/json)

    + Body
    
            {
                "attributeSetDefinition": {
                    "links": {
                        "self": { "href": "/schemas/{schemaId}/attributeSetDefinitions/{id}" },
                        "schema": { "href": "/schemas/{schemaId}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "MobileConnect Demographics",
                    "key": "MobileDemographics",
                    "schemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "relationships": [],
                    "attributes": [],
                    ...
                    ...more 
                }    
            }
            
### Retrieve an AttributeSetDefinition by Name [GET]
+ Response 200
    [AttributeSetDefinition by Name][]


# Group AttributeSet 
Data related resources of the *Contacts-API*

## Attribute Value Container

JSON Repesentation of an Attribute Value Container or a row of data.

    {
        "values": [{
            "name": "Customer Key",
            "value": "sgest@urkidding.com",
        },
        {
            "name": "Order Number",
            "value": "123456"
        },
        {
            "name": "Order Total",
            "value": "177.99"
        }]
    }

## AttributeSet Data by Id [/attributeSets/{id}]
A collection of Attribute Value Containers or the data rows of an identified Atribute Set using it's unique identifier.

+ Model (applcation/json)
JSON Representation of an AttributeSet Data payload.

    + Body

            {
                "count": 200,
                "page": 10,
                "pageSize": 3,
                "Id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                "Key": "Retail Orders",
                "Name:" "Retail Orders",
                "SchemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                "_links": {
                        "self": { "href": "/attributeSets/{id}"},
                        "next": { "href": "/attributeSets/{id}?$page=11&$pageSize=3" },
                        "prev": { "href": "/attributeSets/{id}?$page=9&$pageSize=3" },
                        "attributeSetDefinition":{},
                    },
                
                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
            }
            
### AttributeSet Data by Id [GET]
+ Response 200
    [AttributeSet Data by Id][]

### Insert AttributeSet Data by Id [POST]
+ Request
        
            {

                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
            }

+ Response 200
    [AttributeSet Data by Id][]

### Update AttributeSet Data by Id [PATCH]
+ Request
            
            {

                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
        }

+ Response 200
    [AttributeSet Data by Id][]

### Replace AttributeSet Data by Id [PUT]

+ Request

            {

                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
        }

+ Response 200
    [AttributeSet Data by Id][]

## AttributeSet Data by Name [/schemas/{schemaId}/attributeSets/name:{name}]
A collection of Attribute Value Containers or the data rows of an identified Atribute Set using it's unique identifier.

+ Model (applcation/json)
JSON Representation of an AttributeSet Data payload.

    + Body

            {
                "count": 200,
                "page": 10,
                "pageSize": 3,
                "Id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                "Key": "Retail Orders",
                "Name:" "Retail Orders",
                "SchemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                "_links": {
                        "self": { "href": "/attributeSets/{id}"},
                        "next": { "href": "/attributeSets/{id}?$page=11&$pageSize=3" },
                        "prev": { "href": "/attributeSets/{id}?$page=9&$pageSize=3" },
                        "attributeSetDefinition":{},
                    },
                
                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
            }
            
### Retrieve AttributeSet Data by Name [GET]
+ Response 200
    [AttributeSet Data by Name][]

### Insert AttributeSet Data by Name [POST]
+ Request
        
            {

                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
            }

+ Response 200
    [AttributeSet Data by Id][]

### Update AttributeSet Data by Name [PATCH]
+ Request
            
            {

                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
        }

+ Response 200
    [AttributeSet Data by Id][]

### Replace AttributeSet Data by Name [PUT]

+ Request

            {

                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
        }

+ Response 200
    [AttributeSet Data by Id][]

## Search AttributeSet Data by Name [/schemas/{schemaId}/attributeSets/name:{name}/search]
A collection of Attribute Value Containers or the data rows of an identified Atribute Set using it's unique identifier.

+ Model (applcation/json)
JSON Representation of an AttributeSet Data payload.

    + Body

            {
                "count": 200,
                "page": 10,
                "pageSize": 3,
                "Id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                "Key": "Retail Orders",
                "Name:" "Retail Orders",
                "SchemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                "_links": {
                        "self": { "href": "/attributeSets/{id}"},
                        "next": { "href": "/attributeSets/{id}?$page=11&$pageSize=3" },
                        "prev": { "href": "/attributeSets/{id}?$page=9&$pageSize=3" },
                        "attributeSetDefinition":{},
                    },
                
                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
            }
            
### Search AttributeSet Data by Name [POST]
+ Request

    + Body
            
            {
                "conditionSet" : {      
                    "operator" : "And", 
                    "conditionSets" : [],
                    "conditions" : [{    
                        "attribute" : {  
                            "key" : "MobileDemographics.MobileNumber",  
                            "id" : "",   
                            "isCustomerData" : false
                        },
                        "operator" : "In",                  
                        "values" : ["3171233456", "",]
                    }]
                }
            }

+ Response 200
    [Search AttributeSet Data by Name][]


# Group Content API
Documentation of the AssetServices API

## General API Contracts

  `User` Specification

    {
        "id": 281766,
        "email": "agillaspie@exacttarget.com",
        "name": "Adam Gillaspie",
        "userId": "content.agillaspie"
    }

  `Category` Specification

    {
        "id": 310,
        "name": "Partner Images",
        "path": "/Assets/Partner Images",
        "hasChildren": true,
        "itemCount": 6
    }

  `ChannelAvailability` Specification

    {
        "email": true,
        "mms": true,
        "print": false,
        "push": true,
        "sms": false,
        "social": true,
        "web": true
    }

 `SearchQuery` Specification

    {
        "query" : [
            {
                "field": "tags",
                "operator": "orsgroup",
                "values": [
                    "animals",
                    "dog"
                ]
            },
            {
                "field": "assetType",
                "operator": "matches",
                "values": [
                    "photo"
                ]
            }
        ]
    }
    

## First Class Resources

 - __Asset__ - a single Asset resource identifiable by either a numeric ID or a string Key
 - __AssetType__ - the type of an Asset, which may contain unique metadata or settings
 - __Upload__- an asynchronous task that uploads an Asset into the system
 - __Search__ - a query object that can be executed to return a collection of Assets
 - __CustomField__ - a custom key/value pair that users may define and associate to an Asset
 - __Conversion__ - an asynchronous task that generates variations of an Asset


## File Asset [/assets/classification:file]

+ Model (application/json)

    JSON Representation of an Asset of Classification `file`.
    + Body

            {
                "id": 104,
                "key": "justAKitten",
                "assetType": "photo",
                "classification": "file",
                "version": 1,
                "name": "Kitten",
                "description": "Kitten sitting on a rug",
                "owner": {
                    "id": 282209,
                    "email": "agillaspie@exacttarget.com",
                    "name": "API Client S1QA3 app user",
                    "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                },
                "createdDate": "2014-05-06T05:28:01-04:00",
                "createdBy": {
                    "id": 282209,
                    "email": "agillaspie@exacttarget.com",
                    "name": "API Client S1QA3 app user",
                    "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                },
                "modifiedDate": "2014-05-06T05:28:03-04:00",
                "modifiedBy": {
                    "id": 282209,
                    "email": "agillaspie@exacttarget.com",
                    "name": "API Client S1QA3 app user",
                    "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                },
                "enterpriseId": 281359,
                "memberId": 281359,
                "status": "active",
                "activeDate": "2014-05-06T05:28:01-04:00",
                "expirationDate": "0001-01-01T00:00:00",
                "locked": false,
                "favorite": true,
                "category": {
                    "id": 0,
                    "name": "Assets",
                    "path": "/Assets",
                    "hasChildren": false,
                    "itemCount": 3
                },
                "tags": [
                    "animals",
                    "kitten",
                    "cute"
                ],
                "campaigns": [],
                "customFields": {
                    "animal": "cat",
                    "season": "Spring"
                },
                "channels": {
                    "email": false,
                    "mms": false,
                    "print": false,
                    "push": false,
                    "sms": false,
                    "social": false,
                    "web": false
                },
                "fileProperties": {
                    "fileName": "justAKitten.jpg",
                    "fileFormat": "jpg",
                    "fileCreatedDate": "2014-05-06 07:28:01 +0000",
                    "fileModifiedDate": "2014-05-06 07:28:01 +0000",
                    "uploadedDate": "2014-05-06 07:28:01 +0000",
                    "importStatus": "complete",
                    "lensType": null,
                    "focalLength": null,
                    "cameraModel": null,
                    "iso": null,
                    "colorSpace": null,
                    "colorType": null,
                    "shutterSpeed": null,
                    "aperture": null,
                    "imageRotation": null,
                    "primaryFileName": null,
                    "previewStatus": "complete",
                    "title": null,
                    "fileUrl": "http://qanv1cdntomcat01.qa.local:8080/accounts/281359/catalog/downloads/originals/281359/281359/justAKitten.jpg/justAKitten.jpg",
                    "thumbUrl": "http://qanv1cdntomcat01.qa.local:8080/accounts/281359/catalog/downloads/preview/cache/281359/281359/justAKitten.jpg/preview.jpg"
                }
            }

## Structured Content Asset [/assets/classification:structuredcontent]

+ Model (application/json)

    JSON Representation of an Asset of Classification `structuredcontent`.
    + Body

            {
                "id": 229,
                "key": "heroContent",
                "assetType": "htmlonly",
                "classification": "structuredcontent",
                "version": 1,
                "name": "Hero Content Area",
                "description": "HTML content for a Message",
                "owner": {
                    "id": 282209,
                    "email": "agillaspie@exacttarget.com",
                    "name": "API Client S1QA3 app user",
                    "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                },
                "createdDate": "2014-05-06T14:59:53-04:00",
                "createdBy": {
                    "id": 282209,
                    "email": "agillaspie@exacttarget.com",
                    "name": "API Client S1QA3 app user",
                    "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                },
                "modifiedDate": "2014-05-06T14:59:54-04:00",
                "modifiedBy": {
                    "id": 282209,
                    "email": "agillaspie@exacttarget.com",
                    "name": "API Client S1QA3 app user",
                    "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                },
                "enterpriseId": 281359,
                "memberId": 281359,
                "status": "active",
                "activeDate": "2014-05-06T15:34:02-04:00",
                "expirationDate": "0001-01-01T00:00:00",
                "locked": false,
                "favorite": true,
                "category": {
                    "id": 0,
                    "name": "Assets",
                    "path": "/Assets",
                    "hasChildren": false,
                    "itemCount": 3
                },
                "tags": [],
                "campaigns": [],
                "customFields": {
                    "partner": "ExactTarget",
                    "season": "Summer"
                },
                "channels": {
                    "email": false,
                    "mms": false,
                    "print": false,
                    "push": false,
                    "sms": false,
                    "social": false,
                    "web": false
                },
                "contentFields": {
                    "body": "<p>This is just some content from Adam.</p>"
                },
                "content": "<table><tr><td><div>{{body}}</div></td></tr></table>"
            }


# Group Asset
  
  __Standard Properties__ defined on every Asset

    {
        "id": 104,
        "key": "justAKitten",
        "assetType": "photo",
        "classification": "file",
        "version": 1,
        "name": "Kitten",
        "description": "Kitten sitting on a rug",
        "owner": {
            "id": 282209,
            "email": "agillaspie@exacttarget.com",
            "name": "API Client S1QA3 app user",
            "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
        },
        "createdDate": "2014-05-06T05:28:01-04:00",
        "createdBy": {
            "id": 282209,
            "email": "agillaspie@exacttarget.com",
            "name": "API Client S1QA3 app user",
            "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
        },
        "modifiedDate": "2014-05-06T05:28:03-04:00",
        "modifiedBy": {
            "id": 282209,
            "email": "agillaspie@exacttarget.com",
            "name": "API Client S1QA3 app user",
            "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
        },
        "enterpriseId": 281359,
        "memberId": 281359,
        "status": "active",
        "activeDate": "2014-05-06T05:28:01-04:00",
        "expirationDate": "0001-01-01T00:00:00",
        "locked": false,
        "favorite": true,
        "category": {
            "id": 0,
            "name": "Assets",
            "path": "/Assets",
            "hasChildren": false,
            "itemCount": 3
        },
        "tags": [
            "animals",
            "kitten",
            "cute"
        ],
        "campaigns": [],
        "customFields": {
            "animal": "cat",
            "season": "Spring"
        },
        "channels": {
            "email": false,
            "mms": false,
            "print": false,
            "push": false,
            "sms": false,
            "social": false,
            "web": false
        }
    }

__Asset Properties with Restricted Values__

`assetType` *(Additional Custom AssetTypes are also valid)*
  
  + archive
  + audio
  + code
  + document
  + photo
  + rawImage
  + video
  + none
  + htmlOnly
  + textOnly
  + imageOnly
  + textPlusImage
  + textPlusImagePlusHeadline
  + dynamicContent
  + header
  + footer
  + message

`classification`
  
  + file
  + structuredcontent
  + content
  
`status`
  
  + active
  + expired
  + deleted

`importStatus`
  
  + uploading
  + uploaded
  + imported
  + reimported
  + complete
  + error

`previewStatus`
  
  + unknown
  + exif
  + icon
  + converting
  + complete
  + error

__Classification-Specific Properties__

A handful of top-level properties are only available on Assets of a specific *Classification*. Highlighted below are the properties that are unique to each *Classification*, along with some example data. 

  __Classification__: `file`
  
  The fields that are available inside of __fileProperties__ are specific to the *AssetType*. 
  
    {
        "fileProperties": {
            "fileName": "justAKitten.jpg",
            "fileFormat": "jpg",
            "fileCreatedDate": "2014-05-06 07:28:01 +0000",
            "fileModifiedDate": "2014-05-06 07:28:01 +0000",
            "uploadedDate": "2014-05-06 07:28:01 +0000",
            "importStatus": "complete",
            "lensType": null,
            "focalLength": null,
            "cameraModel": null,
            "iso": null,
            "colorSpace": null,
            "colorType": null,
            "shutterSpeed": null,
            "aperture": null,
            "imageRotation": null,
            "primaryFileName": null,
            "previewStatus": "complete",
            "title": null,
            "fileUrl": "http://qanv1cdntomcat01.qa.local:8080/accounts/281359/catalog/downloads/originals/281359/281359/justAKitten.jpg/justAKitten.jpg",
            "thumbUrl": "http://qanv1cdntomcat01.qa.local:8080/accounts/281359/catalog/downloads/preview/cache/281359/281359/justAKitten.jpg/preview.jpg"
        }
    }


  __Classification__: `structuredcontent`
  
  The fields that are available inside of __contentFields__ are specific to the *AssetType*.  

    {
        "contentFields": {
            "headline": "Don't Miss Out!",
            "body": "This is just a sample story. Check out more by visiting our website!",
            "image": 104
        },
        "content": "<table><tr><td colspan=\"2\"><h2>{{headline}}</h2></td></tr><tr><td>{{image}}</td><td><div>{{body}}</div></td></tr></table>"
    }
    
  __Classification__: `content`

  For Assets with the AssetType `message`, the __content__ property contains the entire stringified *Guide Message Model*.

    {
        "channelType": {
            "value": "email",
            "isActive": true,
            "modelType": "channelType",
            "validated": false
        },
        "messageType": {
            "value": "application/vnd.et.message.email.html",
            "isActive": true,
            "modelType": "messageType",
            "validated": false
        },
        "content": "{\"key\":\"baseValidationMessage\",\"name\":\"Validation Test Message With Address\",\"assetType\":\"message\",\"classification\":\"content\",\"description\":\"This is a sample message from the new editor\",\"category\":{\"id\":312,\"name\":\"Assets\"},\"tags\":[\"sample\",\"email\"],\"status\":\"active\",\"validated\":false,\"channelType\":{\"value\":\"email\",\"isActive\":true,\"modelType\":\"channelType\",\"validated\":false},\"messageType\":{\"value\":\"application/vnd.et.message.email.html\",\"isActive\":true,\"modelType\":\"messageType\",\"validated\":false},\"views\":[{\"bodyTag\":\"<body>\",\"content\":\"HelloWorld Has Address - First Name GTL: {{[First Name]}}<br>First Name OLD: %%First Name%%\",\"head\":\"\",\"htmlTag\":\"<html>\",\"slots\":[{\"alias\":\"hero\",\"allowed\":[\"*\",\"*\",\"*\",\"*\",\"*\",\"*\",\"*\"],\"altered\":false,\"content\":\"<table width=\\"100%\\" border=\\"0\\" cellspacing=\\"0\\" cellpadding=\\"0\\" bgcolor=\\"#ffffff\\"><tr><td align=\\"center\\" valign=\\"top\\"><table width=\\"599\\" border=\\"0\\" cellspacing=\\"0\\" cellpadding=\\"0\\" bgcolor=\\"#ffffff\\"><tr><td>MASTER SLOT - <table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td bgcolor=\\"#01488a\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"19\\"></td><td data-type=\\"slot\\" data-alias=\\"headertext\\"></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"13\\"></td></tr></table></td></tr><tr><td bgcolor=\\"#e1e1e1\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"15\\"></td><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\" bgcolor=\\"#fbeea9\\"><tr><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"31\\"></td><td data-type=\\"slot\\" data-alias=\\"yellowboxcontentleft\\"></td><td data-type=\\"slot\\" data-alias=\\"yellowboxcontentright\\"></td><td width=\\"30\\"></td></tr></table></td></tr></table><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"12\\"></td><td data-type=\\"slot\\" data-alias=\\"bottomboxtext\\"></td><td width=\\"20\\" class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\"></td></tr></table></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"15\\"></td></tr></table></td></tr><tr><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td width=\\"364\\" valign=\\"top\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td data-type=\\"slot\\" data-alias=\\"footeraddress\\"></td></tr></table></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"25\\"></td></tr></table></td></tr></table></td></tr></table></td></tr></table>\",\"defaultContent\":\"\",\"design\":\"\",\"drop\":[\"*\",\"*\",\"*\",\"*\",\"*\",\"*\",\"*\"],\"element\":\"div\",\"gears\":[],\"htmlAttributes\":{\"class\":\"text\",\"style\":\"color:#3c4044; font-family:Arial; font-size:13px; line-height:17px; text-align:left\",\"valign\":\"top\",\"width\":\"158\"},\"locked\":false,\"maxGears\":999,\"minGears\":0,\"nesting\":{\"gears\":true,\"slots\":false},\"origin\":\"viewTemplate\",\"required\":false,\"slots\":[],\"isActive\":true,\"modelType\":\"slot\",\"validated\":false},{\"alias\":\"content1\",\"allowed\":[\"*\",\"*\",\"*\",\"*\",\"*\",\"*\",\"*\"],\"altered\":false,\"content\":\"<table width=\\"100%\\" border=\\"0\\" cellspacing=\\"0\\" cellpadding=\\"0\\" bgcolor=\\"#ffffff\\"><tr><td align=\\"center\\" valign=\\"top\\"><table width=\\"599\\" border=\\"0\\" cellspacing=\\"0\\" cellpadding=\\"0\\" bgcolor=\\"#ffffff\\"><tr><td>MASTER SLOT - <table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td bgcolor=\\"#01488a\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"19\\"></td><td data-type=\\"slot\\" data-alias=\\"headertext\\"></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"13\\"></td></tr></table></td></tr><tr><td bgcolor=\\"#e1e1e1\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"15\\"></td><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\" bgcolor=\\"#fbeea9\\"><tr><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"31\\"></td><td data-type=\\"slot\\" data-alias=\\"yellowboxcontentleft\\"></td><td data-type=\\"slot\\" data-alias=\\"yellowboxcontentright\\"></td><td width=\\"30\\"></td></tr></table></td></tr></table><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"12\\"></td><td data-type=\\"slot\\" data-alias=\\"bottomboxtext\\"></td><td width=\\"20\\" class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\"></td></tr></table></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"15\\"></td></tr></table></td></tr><tr><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td width=\\"364\\" valign=\\"top\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td data-type=\\"slot\\" data-alias=\\"footeraddress\\"></td></tr></table></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"25\\"></td></tr></table></td></tr></table></td></tr></table></td></tr></table>\",\"defaultContent\":\"\",\"design\":\"\",\"drop\":[\"*\",\"*\",\"*\",\"*\",\"*\",\"*\",\"*\"],\"element\":\"div\",\"gears\":[],\"htmlAttributes\":{\"valign\":\"top\",\"width\":\"350\"},\"locked\":false,\"maxGears\":999,\"minGears\":0,\"nesting\":{\"gears\":true,\"slots\":true},\"origin\":\"viewTemplate\",\"required\":false,\"slots\":[{\"alias\":\"leftColumn\",\"allowed\":[\"*\",\"*\",\"*\",\"*\",\"*\",\"*\",\"*\"],\"altered\":false,\"content\":\"<table width=\\"100%\\" border=\\"0\\" cellspacing=\\"0\\" cellpadding=\\"0\\" bgcolor=\\"#ffffff\\"><tr><td align=\\"center\\" valign=\\"top\\"><table width=\\"599\\" border=\\"0\\" cellspacing=\\"0\\" cellpadding=\\"0\\" bgcolor=\\"#ffffff\\"><tr><td>MASTER SLOT - <table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td bgcolor=\\"#01488a\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"19\\"></td><td data-type=\\"slot\\" data-alias=\\"headertext\\"></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"13\\"></td></tr></table></td></tr><tr><td bgcolor=\\"#e1e1e1\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"15\\"></td><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\" bgcolor=\\"#fbeea9\\"><tr><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"31\\"></td><td data-type=\\"slot\\" data-alias=\\"yellowboxcontentleft\\"></td><td data-type=\\"slot\\" data-alias=\\"yellowboxcontentright\\"></td><td width=\\"30\\"></td></tr></table></td></tr></table><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"12\\"></td><td data-type=\\"slot\\" data-alias=\\"bottomboxtext\\"></td><td width=\\"20\\" class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\"></td></tr></table></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"15\\"></td></tr></table></td></tr><tr><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td width=\\"364\\" valign=\\"top\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td data-type=\\"slot\\" data-alias=\\"footeraddress\\"></td></tr></table></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"25\\"></td></tr></table></td></tr></table></td></tr></table></td></tr></table>\",\"defaultContent\":\"\",\"design\":\"\",\"drop\":[\"*\",\"*\",\"*\",\"*\",\"*\",\"*\",\"*\"],\"element\":\"div\",\"gears\":[],\"htmlAttributes\":{},\"locked\":false,\"maxGears\":999,\"minGears\":0,\"nesting\":{\"gears\":true,\"slots\":false},\"origin\":\"viewTemplate\",\"required\":false,\"slots\":[],\"isActive\":true,\"modelType\":\"slot\",\"validated\":false},{\"alias\":\"rightColumn\",\"allowed\":[\"*\",\"*\",\"*\",\"*\",\"*\",\"*\",\"*\"],\"altered\":false,\"content\":\"<table width=\\"100%\\" border=\\"0\\" cellspacing=\\"0\\" cellpadding=\\"0\\" bgcolor=\\"#ffffff\\"><tr><td align=\\"center\\" valign=\\"top\\"><table width=\\"599\\" border=\\"0\\" cellspacing=\\"0\\" cellpadding=\\"0\\" bgcolor=\\"#ffffff\\"><tr><td>MASTER SLOT - <table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td bgcolor=\\"#01488a\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"19\\"></td><td data-type=\\"slot\\" data-alias=\\"headertext\\"></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"13\\"></td></tr></table></td></tr><tr><td bgcolor=\\"#e1e1e1\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"15\\"></td><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\" bgcolor=\\"#fbeea9\\"><tr><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"31\\"></td><td data-type=\\"slot\\" data-alias=\\"yellowboxcontentleft\\"></td><td data-type=\\"slot\\" data-alias=\\"yellowboxcontentright\\"></td><td width=\\"30\\"></td></tr></table></td></tr></table><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"12\\"></td><td data-type=\\"slot\\" data-alias=\\"bottomboxtext\\"></td><td width=\\"20\\" class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\"></td></tr></table></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"15\\"></td></tr></table></td></tr><tr><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td width=\\"364\\" valign=\\"top\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td data-type=\\"slot\\" data-alias=\\"footeraddress\\"></td></tr></table></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"25\\"></td></tr></table></td></tr></table></td></tr></table></td></tr></table>\",\"defaultContent\":\"\",\"design\":\"\",\"drop\":[\"*\",\"*\",\"*\",\"*\",\"*\",\"*\",\"*\"],\"element\":\"div\",\"gears\":[],\"htmlAttributes\":{},\"locked\":false,\"maxGears\":999,\"minGears\":0,\"nesting\":{\"gears\":true,\"slots\":false},\"origin\":\"viewTemplate\",\"required\":false,\"slots\":[],\"isActive\":true,\"modelType\":\"slot\",\"validated\":false}],\"isActive\":true,\"modelType\":\"slot\",\"validated\":false},{\"alias\":\"navigation\",\"allowed\":[\"*\",\"*\",\"*\",\"*\",\"*\",\"*\",\"*\"],\"altered\":false,\"content\":\"<table width=\\"100%\\" border=\\"0\\" cellspacing=\\"0\\" cellpadding=\\"0\\" bgcolor=\\"#ffffff\\"><tr><td align=\\"center\\" valign=\\"top\\"><table width=\\"599\\" border=\\"0\\" cellspacing=\\"0\\" cellpadding=\\"0\\" bgcolor=\\"#ffffff\\"><tr><td>MASTER SLOT - <table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td bgcolor=\\"#01488a\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"19\\"></td><td data-type=\\"slot\\" data-alias=\\"headertext\\"></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"13\\"></td></tr></table></td></tr><tr><td bgcolor=\\"#e1e1e1\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"15\\"></td><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\" bgcolor=\\"#fbeea9\\"><tr><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"31\\"></td><td data-type=\\"slot\\" data-alias=\\"yellowboxcontentleft\\"></td><td data-type=\\"slot\\" data-alias=\\"yellowboxcontentright\\"></td><td width=\\"30\\"></td></tr></table></td></tr></table><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"12\\"></td><td data-type=\\"slot\\" data-alias=\\"bottomboxtext\\"></td><td width=\\"20\\" class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\"></td></tr></table></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"15\\"></td></tr></table></td></tr><tr><td><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td width=\\"364\\" valign=\\"top\\"><table width=\\"100%\\" cellpadding=\\"0\\" cellspacing=\\"0\\" border=\\"0\\"><tr><td data-type=\\"slot\\" data-alias=\\"footeraddress\\"></td></tr></table></td><td class=\\"img\\" style=\\"font-size:0pt; line-height:0pt; text-align:left\\" width=\\"25\\"></td></tr></table></td></tr></table></td></tr></table></td></tr></table>\",\"defaultContent\":\"\",\"design\":\"\",\"drop\":[\"*\",\"*\",\"*\",\"*\",\"*\",\"*\",\"*\"],\"element\":\"div\",\"gears\":[],\"htmlAttributes\":{},\"locked\":false,\"maxGears\":999,\"minGears\":0,\"nesting\":{\"gears\":true,\"slots\":false},\"origin\":\"viewTemplate\",\"required\":false,\"slots\":[],\"isActive\":true,\"modelType\":\"slot\",\"validated\":false}],\"viewType\":{\"kind\":\"subjectline\",\"mimeType\":\"text/plain\",\"value\":\"text/plain; kind=subjectline\",\"isActive\":true,\"modelType\":\"viewType\",\"validated\":false},\"isActive\":true,\"validated\":false}]}"
    }    

## Asset [/assets/{id}]
A single Asset identified by a numeric *id*.

+ Model (application/json)

    + Body

            {
                "id": 104,
                "key": "justAKitten",
                "assetType": "photo",
                "classification": "file",
                "version": 1,
                "name": "Kitten",
                "description": "Kitten sitting on a rug",
                "owner": {
                    "id": 282209,
                    "email": "agillaspie@exacttarget.com",
                    "name": "API Client S1QA3 app user",
                    "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                },
                "createdDate": "2014-05-06T05:28:01-04:00",
                "createdBy": {
                    "id": 282209,
                    "email": "agillaspie@exacttarget.com",
                    "name": "API Client S1QA3 app user",
                    "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                },
                "modifiedDate": "2014-05-06T05:28:03-04:00",
                "modifiedBy": {
                    "id": 282209,
                    "email": "agillaspie@exacttarget.com",
                    "name": "API Client S1QA3 app user",
                    "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                },
                "enterpriseId": 281359,
                "memberId": 281359,
                "status": "active",
                "activeDate": "2014-05-06T05:28:01-04:00",
                "expirationDate": "0001-01-01T00:00:00",
                "locked": false,
                "favorite": true,
                "category": {
                    "id": 0,
                    "name": "Assets",
                    "path": "/Assets",
                    "hasChildren": false,
                    "itemCount": 3
                },
                "tags": [
                    "animals",
                    "kitten",
                    "cute"
                ],
                "campaigns": [],
                "customFields": {
                    "animal": "cat",
                    "season": "Spring"
                },
                "channels": {
                    "email": false,
                    "mms": false,
                    "print": false,
                    "push": false,
                    "sms": false,
                    "social": false,
                    "web": false
                },
                "fileProperties": {
                    "fileName": "justAKitten.jpg",
                    "fileFormat": "jpg",
                    "fileCreatedDate": "2014-05-06 07:28:01 +0000",
                    "fileModifiedDate": "2014-05-06 07:28:01 +0000",
                    "uploadedDate": "2014-05-06 07:28:01 +0000",
                    "importStatus": "complete",
                    "lensType": null,
                    "focalLength": null,
                    "cameraModel": null,
                    "iso": null,
                    "colorSpace": null,
                    "colorType": null,
                    "shutterSpeed": null,
                    "aperture": null,
                    "imageRotation": null,
                    "primaryFileName": null,
                    "previewStatus": "complete",
                    "title": null,
                    "fileUrl": "http://qanv1cdntomcat01.qa.local:8080/accounts/281359/catalog/downloads/originals/281359/281359/justAKitten.jpg/justAKitten.jpg",
                    "thumbUrl": "http://qanv1cdntomcat01.qa.local:8080/accounts/281359/catalog/downloads/preview/cache/281359/281359/justAKitten.jpg/preview.jpg"
                }
            }


### Retrieve an Asset [GET]

+ Parameters
    + id (required, integer, `104`) ... Numeric `id` of the Asset.

+ Response 200
    [Asset][]


### Partially Update an Asset [PATCH]
__Editable Properties__:

| Name  | Type |
| :------------- | :------------- |
| key  | string | 
| name  | string |
| description  | string |
| owner  | User |
| status  | string |
| activeDate  | date |
| expirationDate  | date |
| category  | Category |
| tags  | array | 
| channels  | ChannelAvailability |
| customFields  | object | 
| contentFields  | object | 
| content  | string |

+ Request

        {
            "id": 104,
            "key": "justAKitten",
            "name": "Kitten",
            "description": "Kitten sitting on a rug",
            "owner": {
                "id": 282209
            },
            "status": "active",
            "activeDate": "2014-05-06T05:28:01-04:00",
            "expirationDate": "0001-01-01T00:00:00",
            "category": {
                "id": 0
            },
            "tags": [
                "animals",
                "kitten",
                "cute"
            ],
            "customFields": {
                "animal": "cat",
                "season": "Spring"
            },
            "channels": {
                "email": false,
                "mms": false,
                "print": false,
                "push": false,
                "sms": false,
                "social": false,
                "web": false
            }
        }

+ Response 200
    [Asset][]


### Delete an Asset [DELETE]

+ Parameters
    + id (required, integer, `120,145,170`) ... Numeric `id` of the Asset. Specify multiple Assets by comma-delimiting `id`s.

+ Response 204


## Asset by Key [/assets/key:{key}]
A single Asset identified by a string *key*.

+ Parameters
    + key (required, string, `justAKitten`) ... String `key` of the Asset.

### Retrieve an Asset by Key [GET]

+ Response 200
    [Asset][]


## Assets [/assets]
One or multiple Assets.

+ Model (application/json)

    + Body

            {
                "count": 3,
                "links": {
                    "self": {
                        "href": "/v1/assets"
                    }
                },
                "items": [
                    {
                        "id": 101,
                        "key": "deniedOnceAgain",
                        "assetType": "photo",
                        "classification": "file",
                        "version": 1,
                        "name": "DE-NIED Once Again",
                        "description": "Girl denies guy at basketball game",
                        "owner": {
                            "id": 282209,
                            "email": "agillaspie@exacttarget.com",
                            "name": "API Client S1QA3 app user",
                            "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                        },
                        "createdDate": "2014-05-06T05:12:29-04:00",
                        "createdBy": {
                            "id": 282209,
                            "email": "agillaspie@exacttarget.com",
                            "name": "API Client S1QA3 app user",
                            "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                        },
                        "modifiedDate": "2014-05-06T05:12:34-04:00",
                        "modifiedBy": {
                            "id": 282209,
                            "email": "agillaspie@exacttarget.com",
                            "name": "API Client S1QA3 app user",
                            "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                        },
                        "enterpriseId": 281359,
                        "memberId": 281359,
                        "status": "active",
                        "activeDate": "0001-01-01T00:00:00",
                        "expirationDate": "0001-01-01T00:00:00",
                        "locked": false,
                        "favorite": false,
                        "category": {
                            "id": 0,
                            "name": "Assets",
                            "path": "/Assets",
                            "hasChildren": false,
                            "itemCount": 3
                        },
                        "tags": [
                            "memes",
                            "basketball",
                            "kiss",
                            "funny"
                        ],
                        "campaigns": [],
                        "customFields": {},
                        "channels": {
                            "email": false,
                            "mms": false,
                            "print": false,
                            "push": false,
                            "sms": false,
                            "social": false,
                            "web": false
                        },
                        "fileProperties": {
                            "fileName": "deniedAgain.gif",
                            "fileFormat": "gif",
                            "fileCreatedDate": null,
                            "fileModifiedDate": null,
                            "uploadedDate": "2014-05-06 07:12:29 +0000",
                            "importStatus": null,
                            "lensType": null,
                            "focalLength": null,
                            "cameraModel": null,
                            "iso": null,
                            "colorSpace": null,
                            "colorType": null,
                            "shutterSpeed": null,
                            "aperture": null,
                            "imageRotation": null,
                            "primaryFileName": null,
                            "previewStatus": null,
                            "title": null,
                            "fileUrl": "http://qanv1cdntomcat01.qa.local:8080/accounts/281359/catalog/downloads/originals/281359/281359/deniedAgain.gif/deniedAgain.gif",
                            "thumbUrl": "http://qanv1cdntomcat01.qa.local:8080/accounts/281359/catalog/downloads/preview/cache/281359/281359/deniedAgain.gif/preview.jpg"
                        }
                    },
                    {
                        "id": 144,
                        "key": "scienceStuff",
                        "assetType": "video",
                        "classification": "file",
                        "version": 1,
                        "name": "Science Stuff",
                        "description": "Science guys making foam expand",
                        "owner": {
                            "id": 281766,
                            "email": "agillaspie@exacttarget.com",
                            "name": "Adam Gillaspie",
                            "userId": "s1.qa3.agillaspie"
                        },
                        "createdDate": "2014-02-01T23:25:30-05:00",
                        "createdBy": {
                            "id": 281766,
                            "email": "agillaspie@exacttarget.com",
                            "name": "Adam Gillaspie",
                            "userId": "s1.qa3.agillaspie"
                        },
                        "modifiedDate": "2014-04-30T20:38:04-04:00",
                        "modifiedBy": {
                            "id": 281766,
                            "email": "agillaspie@exacttarget.com",
                            "name": "Adam Gillaspie",
                            "userId": "s1.qa3.agillaspie"
                        },
                        "enterpriseId": 281359,
                        "memberId": 281359,
                        "status": "active",
                        "activeDate": "2014-04-24T23:44:51-04:00",
                        "expirationDate": "0001-01-01T00:00:00",
                        "locked": false,
                        "favorite": false,
                        "category": {
                            "id": 0,
                            "name": "Assets",
                            "path": "/Assets",
                            "hasChildren": false,
                            "itemCount": 3
                        },
                        "tags": [
                            "science"
                        ],
                        "campaigns": [],
                        "customFields": {},
                        "channels": {
                            "email": true,
                            "mms": false,
                            "print": true,
                            "push": false,
                            "sms": false,
                            "social": true,
                            "web": true
                        },
                        "fileProperties": {
                            "fileName": "scienceStuff.mp4",
                            "fileFormat": "mp4",
                            "fileSize": "291.18 KB",
                            "fileCreatedDate": null,
                            "fileModifiedDate": "2014-02-28 17:17:46 +0000",
                            "uploadedDate": "2014-02-19 10:47:02 +0000",
                            "importStatus": "complete",
                            "length": "00:00:06",
                            "duration": "6.15166666666667",
                            "frameRate": "30.00",
                            "bitsPerSample": null,
                            "videoCodec": null,
                            "compression": null,
                            "artist": null,
                            "creator": null,
                            "contributor": null,
                            "primaryFileName": null,
                            "previewStatus": "2",
                            "title": null,
                            "fileUrl": "http://qanv1cdntomcat01.qa.local:8080/accounts/281359/catalog/downloads/originals/281359/281359/scienceStuff.mp4/scienceStuff.mp4",
                            "thumbUrl": "http://qanv1cdntomcat01.qa.local:8080/accounts/281359/catalog/downloads/preview/cache/281359/281359/scienceStuff.mp4/preview.jpg"
                        }
                    },
                    {
                        "id": 229,
                        "key": "heroContent",
                        "assetType": "htmlonly",
                        "classification": "structuredcontent",
                        "version": 1,
                        "name": "Hero Content Area",
                        "description": "HTML content for a Message",
                        "owner": {
                            "id": 282209,
                            "email": "agillaspie@exacttarget.com",
                            "name": "API Client S1QA3 app user",
                            "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                        },
                        "createdDate": "2014-05-06T14:59:53-04:00",
                        "createdBy": {
                            "id": 282209,
                            "email": "agillaspie@exacttarget.com",
                            "name": "API Client S1QA3 app user",
                            "userId": "0e114f08-ebbb-42be-87b5-86db4d077b3c"
                        },
                        "modifiedDate": "2014-05-06T14:59:54-04:00",
                        "modifiedBy": {
                            "id": 282209,
                            "email": "agillaspie@exacttarget.com",
[...]
