FORMAT: 1A
HOST: http://www.exacttargetapis.com/

# ExactTarget API Specifications - Prototype
Prototypes of ExactTarget APIs.

# Group Account Resource

## Account Object DRAFT [/accounts/{id,objectId}]

Definition of an Account resource

+ Model (application/json)
    JSON Representation of a single Account resource. Based on http://help.exacttarget.com/en/technical_library/web_service_guide/objects/account/  
    + Body
    
            {
                "accountType" : "EXACTTARGET",
                "address" : "301 Brannan St., Suite 100, San Francisco, CA 94107",
                "brandId" : 0, 
                "businessName" : "Business Name of an account's owner",
                "children" : [ 1, 2, 3, 4], 
                "city" : "San Francisco",
                "client" : "<client-id>",
                "country" : "United States",
                "createdDate" : "2014-02-27T22:14:38+00:00",
                "deletedDate" : "2014-02-27T22:14:38+00:00",
                "editionId" : 123,
                "email" : "an@email.com",
                "fax" : "415-555-5555",
                "fromName" : "Sender's Name - Deprecated",
                "id" : 123,
                "inheritedAddress" : false,
                "isActive" : 1,
                "isTestAccount" : false,
                 "localeCode" : "US",
                "modifiedDate": "2014-02-27T22:14:38+00:00",
                "name" : "A fake account",
                "objectId" : "<guid>",
                "orgId" : 323,
                "ownerId" : 123,
                "parentId" : 133,
                "partnerKey" : "myPartnerKey",
                "phone" : "415-555-5322",
                "state" : "California",
                "timezoneId" : 87,
                "zip" : "94107"
            }

+ Parameters
    + objectId (optional) ... objectId for the account, required if no id is specified
    + id (required) ... id for the account, required if no objectId is specified

### Retrieve an Account [GET]

+ Response 200
    [Account Object DRAFT][]



# Group Jobs resource

## Jobs - v1 [/v1/jobs/]
A collection of job objects.

+ Model (application/json)
    JSON Representation of a subscriber with list status data.
    + Body
    
            {
                "count":2,
                "page":1,
                "pageSize":25,
                "_links": {
                    "self": { "href": "/jobs/" },
                },
                "items" : [
                    {
                        "id" : "15324",
                        "emailId" : 31448, 
                        "status" : "Pending",
                        "fromName" : "Scott",
                        "fromEmail" : "Scott@exacttarget.com",
                        "name" : "Amp Script in Email",
                        "emailSubject" : "Amp Script in Email",
                        "scheduledTime" : "2014-03-29T17:00:00",
                        "totalSendCount" : 0,
                        "targetLists" : [
                            {
                                "id" : 10253,
                                "name" : "Main List",
                                "objectType" : "List"
                            },
                            {
                                "id" : 134064,
                                "name" : "Gmail",
                                "objectType" : "List"
                            }
                        ],
                        "suppressionLists" : [
                            {
                                "objectId" : "8E844912-1429-E211-B468-0022642D9886",
                                "name" : "Another List",
                                "objectType" : "CustomObject"
                            },
                            {
                                "id":134065,
                                "name":"Not This One",
                                "objectType" : "List"
                            }
                        ]
                    },
                    {
                        "id" : "36548",
                        "emailId" : 31448, 
                        "status" : "Pending",
                        "fromName" : "Scott",
                        "fromEmail" : "Scott@exacttarget.com",
                        "name" : "Another Email",
                        "emailSubject" : "This is another email",
                        "scheduledTime" : "2014-03-30T09:00:00",
                        "totalSendCount" : 0,
                        "targetLists" : [
                            {
                                "id" : 10253,
                                "name" : "Main List",
                                "objectType" : "List"
                            },
                            {
                                "id" : 134064,
                                "name" : "Gmail",
                                "objectType" : "List"
                            }
                        ],
                        "suppressionLists" : [
                            {
                                "objectId" : "8E844912-1429-E211-B468-0022642D9886",
                                "name" : "Another List",
                                "objectType" : "CustomObject"
                            },
                            {
                                "id":134065,
                                "name":"Not This One",
                                "objectType" : "List"
                            }
                        ]
                    }
                ]
            }

### Retrieve a collection of jobs [GET]
+ Response 200
    [Jobs - v1][]

## Job - v1 [/v1/jobs/{id}]
A single job object.

+ Parameters
    + id (required, number, `123`) ... Numeric `id` of the job.

+ Model (application/json)
    JSON Representation of a subscriber with list status data.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/jobs/{id}" },
                    "parent": { "href": "/jobs/" },
                    "events" : { "href" : "/jobs/{id}/events" }
                    "status" : { "href" : "/jobs/{id}/status" }
                },
                "id" : "{id}",
                "emailId" : 31448, 
                "status" : "Pending",
                "fromName" : "Scott",
                "fromEmail" : "Scott@exacttarget.com",
                "name" : "Amp Script in Email",
                "emailSubject" : "Amp Script in Email",
                "scheduledTime" : "2014-03-29T17:00:00",
                "totalSendCount" : 0,
                "targetLists" : [
                    {
                        "id" : 10253,
                        "name" : "Main List",
                        "objectType" : "List"
                    },
                    {
                        "id" : 134064,
                        "name" : "Gmail",
                        "objectType" : "List"
                    }
                ],
                "suppressionLists" : [
                    {
                        "objectId" : "8E844912-1429-E211-B468-0022642D9886",
                        "name" : "Another List",
                        "objectType" : "CustomObject"
                    },
                    {
                        "id":134065,
                        "name":"Not This One",
                        "objectType" : "List"
                    }
                ]
            }

### Retrieve a job [GET]
+ Response 200
    [Job - v1][]

### Update a job [PATCH]
+ Request (application/json)

        {
            "scheduledTime" : "2014-03-29T17:00:00"
        }
        
+ Response 200
    [Job - v1][]

## Jobs Events [/jobs/{id}/events{?fields}]
A single Event object belonging to a job.  Always returns the latest values for the job, no date/time filtering allowed.

+ Parameters
    + id (required, number, `123`) ... Numeric `id` of the Job to retrieve events from
    + fields (optional, string, `sent,delivered,bouncesHard,bouncesSoft,bouncesBLocked,uniqueOpened,uniqueClicked,unsubscribed` ) ... Comma Separated string of event fields to be returned. 

+ Model (application/json)
    JSON Representation of events that have occurred on a job. Percents are a percent of toSend.  Need to discuss minimum percentages.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/jobs/{id}/events" },
                    "message" : { "href" : "/messages/{messageId}" },
                    "parent": { "href": "/jobs/{id}" }
                },
                "id": "{id}",
                "memberId" : "{memberId}",
                "messageId" : "{messageId}",
                "sent" : { 
                  "count" : 18500 
                },
                "delivered": { 
                  "count" : 18336, 
                  "percent" : 99.114
                },
                "bounced" : { 
                  "count" : 164, 
                  "percent" : 0.009,
                  "hard" : 12, 
                  "soft" : 100, 
                  "blocked" : 50,
                  "technical" : 1,
                  "unknown" : 1
                },
                "opened" : { 
                  "unique" : {
                    "count" : 18133,
                    "percent" : 98.731
                  },
                  "count" : 18200
                },
                "clicked" : { 
                  "unique" : {
                    "count" : 18022,
                    "percent" : 98.288
                  },
                  "count" : 18300
                },
                "unsubscribed": { 
                  "count" : 33, 
                  "percent" : 0.002 
                },
                "errored" : { 
                  "count" : 0
                }
            }

### Retrieve Events for a job [GET]
+ Response 200
    [Jobs Events][]

## Jobs Status [/jobs/{id}/status{?fields}]
Status information of a job

+ Parameters
    + id (required) ... id of the job
    + fields (optional, string ) ... Comma Separated string of event fields to be returned.
        + Values 
            + `total`
            + `pending`
            + `processing`
            + `completed`

+ Model (application/json)
    JSON Representation of status of a job.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/jobs/{id}/status" },
                    "parent": { "href": "/jobs/{id}" }
                },
                "id": "{id}",
                "total": 100000,
                "pending" : { 
                    "count" : 2000,
                    "percent" : 2.000
                },
                "processing" : { 
                    "count" : 3000,
                    "percent" : 3.000
                },
                "completed" : { 
                    "count" : 95000,
                    "percent" : 95.000
                }
            }

### Retrieve Account Job Status [GET]
+ Response 200
    [Jobs Status][]


# Group Message Resource

## Send a Triggered Message [/messaging-internal/v1/messages/{id}/send]
Send a message using a pre-existing triggered send definition


### Send a triggered send definition message [PUT]
+ Request (application/json)

        {
            "customerKey": "Send Customer Key",
            "emailAddress" : "an@email.com",
            "subscriberKey" : "an@email.com",
            "attributes" : [
                /* any attributes */
            ]
        }
        
+ Response 202

# Group Contact API
Documentation of the ContactServices API

## General API Contracts

 `filterJSON` Specification
    
    {
        "conditionSet" : {      
            "operator" : "And", 
            "conditionSets" : [],
            "conditions" : [{    
                "attribute" : {  
                    "key" : "",  
                    "id" : "",   
                    "isCustomerData" : false
                },
                "operator" : "In",                  
                "values" : ["", "",]
            }]
        }
    }


## First Class Resources
 
 - __Contact__ - a single contact resource identifiable by either a ContactID or a ContactKey
 - __ContactEvent__ a event linked to an identifiable contact by either a ContactID or a ContactKey.
 - __Schema__- the model representation of all data related to contacts for a given account. 
 - __AttributeSet__ - the data related to a specific collection of *AttributeDefinitions* within the *ContactSchema*

## FilterJSON [/search]

+ Model (application/json)

    JSON Representation of a `filterJSON' object.
    + Body
            
            {
                "conditionSet" : {      
                    "operator" : "And", 
                    "conditionSets" : [],
                    "conditions" : [{    
                        "attribute" : {  
                            "key" : "MobileDemographics.MobileNumber",  
                            "id" : "",   
                            "isCustomerData" : false
                        },
                        "operator" : "In",                  
                        "values" : ["3171233456", "",]
                    }]
                }
            }


# Group Contact

## Contacts Collection [/contacts] 
A collection of Contacts.

+ Model (application/json)
    
    + Body
            
            {
                "count": 2,
                "page": 1,
                "pageSize": 25,
                "_links": {
                    "self": { "href": "/contacts/{?filter}" },
                    "schemas": { "href": "/schemas" },
                    "contactSchemas": { "href": "/schemas/type:{contacts}" },
                },
                "items": [{
                        "contactID": 12345,
                        "contactKey": "sgest@somewhere.com"
                    },
                    {
                        "contactID": 2343,
                        "contactKey": "ugest@somewherelse.com"
                    }
                ]
            }

### Create Contacts [POST]
+ Request
    
        {
            "contactKey": "tnewcome@exacttarget.com",
            "contactId": 12345678,
            "attributeSets": [{
                "name": "Email Demographics",
                "items": [{
                    "values": [{
                        "name": "Last Name",
                        "value": "Nukem"
                    },
                    {
                        "name": "First Name",
                        "value": "Antoine"
                    }]
                }]
            },
            {
                "name": "Email Addresses",
                "items": [{
                    "values": [{
                        "name": "Email Address",
                        "value": "tnewcome@exacttarget.com"
                    },
                    {
                        "name": "HTML Enabled",
                        "value": true
                    }]
                }]
            }]
        }

        
+ Response 200
    [Contacts Collection][]

### Update Contacts [PATCH]
+ Request
    
        {
            "contactKey": "tnewcome@exacttarget.com",
            "contactId": 12345678,
            "attributeSets": [{
                "name": "Email Demographics",
                "items": [{
                    "values": [{
                        "name": "Last Name",
                        "value": "Nukem"
                    },
                    {
                        "name": "First Name",
                        "value": "Antoine"
                    }]
                }]
            },
            {
                "name": "Email Addresses",
                "items": [{
                    "values": [{
                        "name": "Email Address",
                        "value": "tnewcome@exacttarget.com"
                    },
                    {
                        "name": "HTML Enabled",
                        "value": true
                    }]
                }]
            }]
        }

+ Response 200
    [Contacts Collection][]

## Search Contacts [/contacts/search]
Retrieve a list of contacts that match a filter condition represented as `filterJSON` posted in the message body.

### Search Contacts [POST]
+ Request 
    [FilterJSON][]
+ Response 200
    [Contacts Collection][]

# Group ContactEvent

## ContactEvent [/contactEvents]
Definition of a ContactEvent

+ Model (application/json)
    JSON representation of a single ContactEvent  resource.

    + Body
    
            {
        
                "contactKey": "sgest@comewhere.com",
                "contactID": "1234567",
                "eventDefinitionKey": "myevent",
                "data": [{
                    "key": "RetailOrderEvent",
                    "name": "Retail Order Event",
                    "id": "5CE001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "items": [{
                        "values": [{
                            "name": "Customer Key",
                            "value": "tnewcome@exacttarget.com",
                        },
                        {
                            "name": "Order Number",
                            "value": "123456"
                        },
                        {
                            "name": "Order Total",
                            "value": "177.99"
                        }]
                    }]
                }]
            }

### Create a ContactEvent [POST]
+ Request
    [ContactEvent][]
+ Response 200
    [ContactEvent][]

# Group Schema
Schema related resources of the *Contacts-API*

## Schemas Collection [/schemas]

+ Model (applcation/json)
JSON representation of a Schema collection response.

    + Body
        
            {
                "count": 2,
                "page": 1,
                "pageSize": 25,
                "links": {
                    "self": { "href": "/schemas" }
                },
                "items":[{
                    "links": {
                        "self": { "href": "/schemas/{schemaId}" }
                        "attributeGroups": { "href": "/schemas/{schemaId}/attributeGroups" },
                        "attributeSetDefinitions": { "href": "/schemas/{schemaId}/attributeSetDefinitions" }
                    }
                    "id": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "version": 1,
                    "schemaType": "Contacts",
                    "enterpriseID": 10650001,
                    "availableBusinessUnits": [10650002,10650003]
                },
                {
                    "links": {
                        "self": { "href": "/schemas/{id}" }
                        "attributeGroups": { "href": "/schemas/{id}/attributeGroups" },
                        "attributeSetDefinitions": { "href": "/schemas/{id}/attributeSetDefinitions" }
                    }
                    "id": "E6158F81-ABAB-E311-80AE-08EDB9DDEBF0",
                    "version": 1,
                    "schemaType": "Contacts",
                    "enterpriseID": 10650001,
                    "availableBusinessUnits": [10650004,10650005]
                }]
            }

### Retrieve the Schemas collection for the current account [GET]
+ Response 200
    [Schemas Collection][]

## Schema by SchemaId [/schemas/{schemaId}]

+ Model (application/json)
JSON representation of a Schema response payload.

    + Body
    
            {
                "schema":{
                    "id": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "version": 1,
                    "schemaType": "Contacts",
                    "enterpriseID": 10650001,
                    "availableBusinessUnits": [10650002,10650003],
                    "links": {
                        "self": { "href": "/schemas/{schemaId}" }
                        "attributeGroups": { "href": "/schemas/{schemaId}/attributeGroups" },
                        "attributeSetDefinitions": { "href": "/schemas/{id}/attributeSetDefinitions" }
                    }
                }
            }

### Retrieve a Schema by Id [GET]
+ Response 200
    [Schema by SchemaId][]

## AttributeGroup Collection [/schemas/{SchemaId}/attributeGroups]
A colection of AttributeGroup references.

+ Model (applcation/json)

    + Body
    
            {
                "count": 2,
                "page": 1,
                "pageSize": 25,
                "links": {
                    "self": {"href": "/schemas/{schemaId}/attributeGroups" },
                    "schema": {"href": "/schemas/{schemaId}" },
                },
                "items": [{
                    "links": {
                        "self": {"href": "/attributeGroups/{id}" }
                    },
                    "id": "4de15aca-2c17-e311-bb14-00237d5401ce",
                    "key": "com.exacttarget.mobilepush.ETMobilePush",
                    "name": "ExactTarget MobilePush",
                    "parentId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0"
                },
                {
                    "links": {
                        "self": {"href": "/attributeGroups/{id}" }
                    },
                    "id": "4de15aca-2c17-e311-bb14-00237d5401ce",
                    "key": "com.exacttarget.mobilepush.ETMobilePush",
                    "name": "ExactTarget MobilePush",
                    "parentId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0"
                }]
            }

### Retrieve an AttributeGroup Collection for an identified Schema [GET]
+ Response 200
    [AttributeGroup Collection][]

## AttributeGroup by Id [/schemas/{schemaId}/attributeGroups/{id}]
A single AttributeGroup object.

+ Model (applcation/json)
JSON Representation of a single AttributeGroup resource.

    + Body
    
            {
                
                "attributeGroup": {
                    "links": {
                        "self": {"href": "/schemas/{parentReferenceId}/attributeGroups/{id}" },
                        "schema": {"href": "/schemas/{parentReferenceId}" },
                        "attributeSetDefinitions": {"href": "/schemas/{parentReferenceId}/attributeGroups/{id}/attributeSetDefinitions" 
                    },
                    "id": "4de15aca-2c17-e311-bb14-00237d5401ce",
                    "key": "com.exacttarget.mobilepush.ETMobilePush",
                    "name": "ExactTarget MobilePush",
                    "schemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "isSystemDefined": true,
                    "applicationID": "131975ED-E859-4CC9-B479-62A615BC6C8A",
                    "applicationKey": "com.exacttarget.mobilepush",
                    "templateID": 100,
                    "fullyQualifiedName": "com.exacttarget.mobilepush.ETMobilePush",
                    "attributeGroupType": "standard",
                    
                },
                }
            }

### Retrieve an AttributeGroup by Id [GET]
+ Response 200
    [AttributeGroup by Id][]

## AttributeGroup by Key [/schemas/{schemaId}/attributeGroups/key:{key}]
A single AttributeGroup object.

+ Model (applcation/json)

    + Body
    
            {
                "attributeGroup": {
                    "links": {
                        "self": {"href": "/schemas/{schemaId}/attributeGroups/{id}" },
                        "schema": {"href": "/schemas/{schemaId}" },
                        "attributeSetDefinitions": {"href": "/schemas/{schemaId}/attributeGroups/{id}/attributeSetDefinitions" }
                    },
                    "id": "4de15aca-2c17-e311-bb14-00237d5401ce",
                    "key": "com.exacttarget.mobilepush.ETMobilePush",
                    "name": "ExactTarget MobilePush",
                    "schemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "isSystemDefined": true,
                    "applicationID": "131975ED-E859-4CC9-B479-62A615BC6C8A",
                    "applicationKey": "com.exacttarget.mobilepush",
                    "templateID": 100,
                    "fullyQualifiedName": "com.exacttarget.mobilepush.ETMobilePush",
                    "attributeGroupType": "standard"
                }
            }

### Retrieve an AttributeGroup by Key [GET]
+ Response 200
    [AttributeGroup by Key][]

## AttributeGroup by Name [/schemas/{schemaId}/attributeGroups/name:{name}]
A single AttributeGroup object.

+ Model (applcation/json)

    + Body
    
            {
                "attributeGroup": {
                    "links": {
                        "self": {"href": "/schemas/{schemaId}/attributeGroups/{id}" },
                        "schema": {"href": "/schemas/{schemaId}" },
                        "attributeSetDefinitions": {"href": "/schemas/{schemaId}/attributeGroups/{id}/attributeSetDefinitions" }
                    },
                    "id": "4de15aca-2c17-e311-bb14-00237d5401ce",
                    "key": "com.exacttarget.mobilepush.ETMobilePush",
                    "name": "ExactTarget MobilePush",
                    "schemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "isSystemDefined": true,
                    "applicationID": "131975ED-E859-4CC9-B479-62A615BC6C8A",
                    "applicationKey": "com.exacttarget.mobilepush",
                    "templateID": 100,
                    "fullyQualifiedName": "com.exacttarget.mobilepush.ETMobilePush",
                    "attributeGroupType": "standard"
                }
            }

### Retrieve an AttributeGroup by Name [GET]
+ Response 200
    [AttributeGroup by Name][]

## AttributeSetDefinition Collection [/schemas/{id}/attributeSetDefinitions]
A collection of AttributeSetDefinition references for the identified schema.

+ Model (applcation/json)

    + Body
    
            {
                "count": 2,
                "page": 1,
                "pageSize": 25,
                "links": {
                        "self": { "href": "/schemas/{schemaId}/attributeSetDefinitions" }
                        "schema": { "href": "/schemas/{schemaId}" },
                    },
                "items": [{
                    "links": {
                        "self": { "href": "/attributeSetDefinitions/{id}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "MobileConnect Demographics",
                    "key": "com.exacttarget.mobileconnect.MobileDemographics",
                    "parentId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0"
                },
                {
                    "links": {
                        "self": { "href": "/attributeSetDefinitions/{id}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "Retail Orders",
                    "key": "RetailOrders",
                    "parentId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0"
                }]    
            }

### Retrieve an AttributeSetDefinitions Collection [GET]
+ Response 200
    [AttributeSetDefinition Collection][]


## AttributeGroups AttributeSetDefinition Collection [/attributeGroups/{id}/attributeSetDefinitions]
A collection of AttributeSetDefinition references for the identified schema.

+ Model (applcation/json)

    + Body
    
            {
                "count": 2,
                "page": 1,
                "pageSize": 25,
                "links": {
                        "self": { "href": "/attributeGroups/{groupId}/attributeSetDefinitions" }
                        "schema": { "href": "/schemas/{schemaId}" },
                        "attributeGroup": { "href": "/attributeGroups/{groupId}" },
                    },
                "items": [{
                    "links": {
                        "self": { "href": "/attributeSetDefinitions/{id}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "MobileConnect Demographics",
                    "key": "com.exacttarget.mobileconnect.MobileDemographics",
                    "parentId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0"
                },
                {
                    "links": {
                        "self": { "href": "/attributeSetDefinitions/{id}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "Retail Orders",
                    "key": "RetailOrders",
                    "parentId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0"
                }]    
            }

### Retrieve an AttributeGroups AttributeSetDefinitions Collection [GET]
+ Response 200
    [AttributeGroups AttributeSetDefinition Collection][]

## AttributeSetDefinition by Id [/schemas/{schemaId}/attributeSetDefinitions/{id}]
A single AttributeSetDefinition object.

+ Model (applcation/json)

    + Body
    
            {
                "attributeSetDefinition": {
                    "links": {
                        "self": { "href": "/schemas/{schemaId}/attributeSetDefinitions/{id}" },
                        "schema": { "href": "/schemas/{schemaId}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "MobileConnect Demographics",
                    "key": "MobileDemographics",
                    "schemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "relationships": [],
                    "attributes": [],
                    ...
                    ...more 
                }    
            }
            
### Retrieve an AttributeSetDefinition by Id [GET]
+ Response 200
    [AttributeSetDefinition by Id][]

## AttributeSetDefinition by Key [/schemas/{id}/attributeSetDefinitions/key:{key}]
A single AttributeSetDefinition object.

+ Model (applcation/json)

    + Body
    
            {
                "attributeSetDefinition": {
                    "links": {
                        "self": { "href": "/schemas/{schemaId}/attributeSetDefinitions/{id}" },
                        "schema": { "href": "/schemas/{schemaId}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "MobileConnect Demographics",
                    "key": "MobileDemographics",
                    "schemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "relationships": [],
                    "attributes": [],
                    ...
                    ...more 
                }    
            }
            
### Retrieve an AttributeSetDefinition by Key [GET]
+ Response 200
    [AttributeSetDefinition by Key][]

## AttributeSetDefinition by Name [/schemas/{id}/attributeSetDefinitions/name:{name}]
A single AttributeSetDefinition object.

+ Model (applcation/json)

    + Body
    
            {
                "attributeSetDefinition": {
                    "links": {
                        "self": { "href": "/schemas/{schemaId}/attributeSetDefinitions/{id}" },
                        "schema": { "href": "/schemas/{schemaId}" }
                    },
                    "id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                    "name": "MobileConnect Demographics",
                    "key": "MobileDemographics",
                    "schemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                    "relationships": [],
                    "attributes": [],
                    ...
                    ...more 
                }    
            }
            
### Retrieve an AttributeSetDefinition by Name [GET]
+ Response 200
    [AttributeSetDefinition by Name][]


# Group AttributeSet 
Data related resources of the *Contacts-API*

## Attribute Value Container

JSON Repesentation of an Attribute Value Container or a row of data.

    {
        "values": [{
            "name": "Customer Key",
            "value": "sgest@urkidding.com",
        },
        {
            "name": "Order Number",
            "value": "123456"
        },
        {
            "name": "Order Total",
            "value": "177.99"
        }]
    }

## AttributeSet Data by Id [/attributeSets/{id}]
A collection of Attribute Value Containers or the data rows of an identified Atribute Set using it's unique identifier.

+ Model (applcation/json)
JSON Representation of an AttributeSet Data payload.

    + Body

            {
                "count": 200,
                "page": 10,
                "pageSize": 3,
                "Id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                "Key": "Retail Orders",
                "Name:" "Retail Orders",
                "SchemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                "_links": {
                        "self": { "href": "/attributeSets/{id}"},
                        "next": { "href": "/attributeSets/{id}?$page=11&$pageSize=3" },
                        "prev": { "href": "/attributeSets/{id}?$page=9&$pageSize=3" },
                        "attributeSetDefinition":{},
                    },
                
                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
            }
            
### AttributeSet Data by Id [GET]
+ Response 200
    [AttributeSet Data by Id][]

### Insert AttributeSet Data by Id [POST]
+ Request
        
            {

                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
            }

+ Response 200
    [AttributeSet Data by Id][]

### Update AttributeSet Data by Id [PATCH]
+ Request
            
            {

                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
        }

+ Response 200
    [AttributeSet Data by Id][]

### Replace AttributeSet Data by Id [PUT]

+ Request

            {

                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
        }

+ Response 200
    [AttributeSet Data by Id][]

## AttributeSet Data by Name [/schemas/{schemaId}/attributeSets/name:{name}]
A collection of Attribute Value Containers or the data rows of an identified Atribute Set using it's unique identifier.

+ Model (applcation/json)
JSON Representation of an AttributeSet Data payload.

    + Body

            {
                "count": 200,
                "page": 10,
                "pageSize": 3,
                "Id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                "Key": "Retail Orders",
                "Name:" "Retail Orders",
                "SchemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                "_links": {
                        "self": { "href": "/attributeSets/{id}"},
                        "next": { "href": "/attributeSets/{id}?$page=11&$pageSize=3" },
                        "prev": { "href": "/attributeSets/{id}?$page=9&$pageSize=3" },
                        "attributeSetDefinition":{},
                    },
                
                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
            }
            
### Retrieve AttributeSet Data by Name [GET]
+ Response 200
    [AttributeSet Data by Name][]

### Insert AttributeSet Data by Name [POST]
+ Request
        
            {

                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
            }

+ Response 200
    [AttributeSet Data by Id][]

### Update AttributeSet Data by Name [PATCH]
+ Request
            
            {

                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
        }

+ Response 200
    [AttributeSet Data by Id][]

### Replace AttributeSet Data by Name [PUT]

+ Request

            {

                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
        }

+ Response 200
    [AttributeSet Data by Id][]

## Search AttributeSet Data by Name [/schemas/{schemaId}/attributeSets/name:{name}/search]
A collection of Attribute Value Containers or the data rows of an identified Atribute Set using it's unique identifier.

+ Model (applcation/json)
JSON Representation of an AttributeSet Data payload.

    + Body

            {
                "count": 200,
                "page": 10,
                "pageSize": 3,
                "Id": "abe05aca-2c17-e311-bb14-00237d5401ce",
                "Key": "Retail Orders",
                "Name:" "Retail Orders",
                "SchemaId": "36E001F0-6B8F-E311-A274-08EDB9DDEBF0",
                "_links": {
                        "self": { "href": "/attributeSets/{id}"},
                        "next": { "href": "/attributeSets/{id}?$page=11&$pageSize=3" },
                        "prev": { "href": "/attributeSets/{id}?$page=9&$pageSize=3" },
                        "attributeSetDefinition":{},
                    },
                
                "items": [{
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                },
                {
                    "values": [{
                        "name": "Customer Key",
                        "value": "sgest@urkidding.com",
                    },
                    {
                        "name": "Order Number",
                        "value": "123456"
                    },
                    {
                        "name": "Order Total",
                        "value": "177.99"
                    }]
                }]
            }
            
### Search AttributeSet Data by Name [POST]
+ Request

    + Body
            
            {
                "conditionSet" : {      
                    "operator" : "And", 
                    "conditionSets" : [],
                    "conditions" : [{    
                        "attribute" : {  
                            "key" : "MobileDemographics.MobileNumber",  
                            "id" : "",   
                            "isCustomerData" : false
                        },
                        "operator" : "In",                  
                        "values" : ["3171233456", "",]
                    }]
                }
            }

+ Response 200
    [Search AttributeSet Data by Name][]

# Group ContentEntity
Used to manipulate ContentEntity objects.  These are things like Paste HTMLs, images, videos, etc.

## ContentEntity [/AssetService-Internal/v1/contents/{id}]
A single Content entity with all of its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Content

+ Model (application/json)

        {
            "id": 313,
            "key": "danceKid6",
            "assetType": "photo",
            "classification": "content",
            "version": null,
            "name": "Dance Kid7",
            "description": "Kid party dancing7",
            "owner": 30980,
            "createdDate": "2014-03-26T15:45:20-04:00",
            "createdBy": 30980,
            "modifiedDate": "2014-03-26T15:45:20-04:00",
            "modifiedBy": 30980,
            "enterpriseId": 281359,
            "memberId": 281359,
            "businessUnitAvailability": null,
            "channels": {
                "email": true,
                "mms": true,
                "print": false,
                "push": false,
                "sms": false,
                "social": true,
                "web": true
            },
            "status": "Active",
            "locked": null,
            "archived": false,
            "favorite": false,
            "category": {
                "id": 1392299587995,
                "parentId": 0,
                "name": "uploaded",
                "path": "/uploaded",
                "hasChildren": true,
                "itemCount": 66
            },
            "tags": ["party","funny","dancing","kids","memes"],
            "campaigns": null,
            "contentSizeBytes": null
        }


### Retrieve a Content [GET]
+ Response 200 (application/json)

    [ContentEntity][]

### Update a Content [PATCH]
+ Request (application/json)

    [ContentEntity][]

+ Response 200 (application/json)

    [ContentEntity][]

### Delete a Content [DELETE]
+ Response 204

## ContentEntitys [/AssetService-Internal/v1/contents]

### Get all Content [GET]
+ Response 200 (application/json)

        {
            "count": 2,
            "page": 1,
            "pageSize": 25,
            "links": {
                "self": { "href": "/v1/contents" },
                "next": { "href": "/v1/contents?$page=2&$pagesize=25" }
            },
            "items": [
                {
                    "tags": ["tv","science"],
                    "status": "1",
                    "modifiedBy": 0,
                    "enterpriseId": 281359,
                    "channels": {
                        "email": true,
                        "mms": true,
                        "print": true,
                        "push": true,
                        "sms": false,
                        "social": true,
                        "web": true
                    },
                    "favorite": false,
                    "modifiedDate": "2014-03-05T10:04:32-05:00",
                    "id": 119,
                    "category": {
                        "id": 1394031845402,
                        "parentId": 1392299587995,
                        "name": "tv shows",
                        "path": "/uploaded/tv shows",
                        "hasChildren": false,
                        "itemCount": 5
                    },
                    "archived": false,
                    "createdBy": 0,
                    "assetType": "photo",
                    "description": "Sketch of Walter White",
                    "classification": "file",
                    "name": "Heisenberg",
                    "owner": 0,
                    "memberId": 281359,
                    "createdDate": "2014-03-05T10:04:32-05:00",
                    "key": "heisenberg",
                    "version": null,
                    "businessUnitAvailability": null,
                    "locked": null,
                    "campaigns": null,
                    "contentSizeBytes": null
                },
                {
                    "tags": ["King of Queens","ketchup","tv"],
                    "status": "Active",
                    "modifiedBy": 0,
                    "enterpriseId": 281359,
                    "channels": {
                        "email": true,
                        "mms": true,
                        "print": true,
                        "push": true,
                        "sms": true,
                        "social": true,
                        "web": true
                    },
                    "favorite": false,
                    "modifiedDate": "2014-03-05T10:04:50-05:00",
                    "id": 157,
                    "category": {
                        "id": 1394031845402,
                        "parentId": 1392299587995,
                        "name": "tv shows",
                        "path": "/uploaded/tv shows",
                        "hasChildren": false,
                        "itemCount": 5
                    },
                    "archived": false,
                    "createdBy": 0,
                    "assetType": "photo",
                    "description": "Doug teaching Arthur how to say Ketchup",
                    "classification": "file",
                    "name": "Ketchup vs. Catsup",
                    "owner": 0,
                    "memberId": 281359,
                    "createdDate": "2014-03-05T10:04:50-05:00",
                    "key": "ketchup",
                    "version": null,
                    "businessUnitAvailability": null,
                    "locked": null,
                    "campaigns": null,
                    "contentSizeBytes": null
                }
            ]
        }

### Create a Content [POST]
+ Request

        {
            "key": "danceKid2",
            "assetType": "photo",
            "classification": "content",
            "version": null,
            "name": "Dance Kid2",
            "description": "Kid party dancing2",
            "owner": 30980,
            "createdBy": 30980,
            "modifiedBy": 30980,
            "enterpriseId": 281359,
            "memberId": 281359,
            "businessUnitAvailability": null,
            "channels": {
                "email": true,
                "mms": true,
                "print": false,
                "push": false,
                "sms": false,
                "social": true,
                "web": true
            },
            "status": "Active",
            "locked": null,
            "archived": false,
            "favorite": false,
            "category": {
                "id": 1392299587995
            },
            "tags": [
                "party",
                "funny",
                "dancing",
                "kids",
                "memes"
            ],
            "campaigns": null,
            "contentSizeBytes": null
        }
        
+ Response 200
    [ContentEntity][]

# Group Subscriber Resource

## Subscriber List Status by Subscriber Id and List Id [/subscriberListStatus/{id}/list/{listId}]
A single Subscriber entity belonging to a hidden list. Contains relevant subscriber list status data.

+ Parameters
    + id (required, number, `123`) ... Numeric `id` of the Subscriber to retrieve status data from
    + listId (required, number, `123`) ... Numeric `listId` of the Subscriber list to retrieve status data from

+ Model (application/json)
    JSON Representation of a subscriber with list status data.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/subscriberListStatus/{id}/list/{listId}" }
                },
                "id": "123"
            }

### Retrieve a Subscriber Status for a list [GET]
+ Response 200
    [Subscriber List Status by Subscriber Id and List Id][]

### Change a Subscriber List Status [POST]
+ Request

        {
            "status":"active"
        }

+ Response 200


## Subscriber List Status by Subscriber Id and List Name [/subscriberListStatus/{id}/list/name:{name}]
A single Subscriber entity belonging to a hidden list. Contains relevant subscriber list status data.

+ Parameters
    + id (required, number, `123`) ... Numeric `id` of the Subscriber to retrieve status data from
    + name (required, string, `Coupon Only List`) ... String `name` of the Subscriber list to retrieve status data from

+ Model (application/json)
    JSON Representation of a subscriber with list status data.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/subscriberListStatus/{id}/list/name:{name}" }
                },
                "id": "123"
            }

### Retrieve a Subscriber Status for a list [GET]
+ Response 200
    [Subscriber List Status by Subscriber Id and List Name][]

### Change a Subscriber List Status [POST]
+ Request

        {
            "status":"active"
        }

+ Response 200

## Subscriber List Status by Subscriber Key and List Id [/subscriberListStatus/key:{key}/list/{listId}]
A single Subscriber entity belonging to a hidden list. Contains relevant subscriber list status data.

+ Parameters
    + key (required, string, `apiary@exacttarget.com`) ... String `key` of the Subscriber to retrieve status data from
    + listId (required, number, `123`) ... Numeric `listId` of the Subscriber list to retrieve status data from

+ Model (application/json)
    JSON Representation of a subscriber with list status data.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/subscriberListStatus/key:{key}/list/{listId}" }
                },
                "id": "123"
            }

### Retrieve a Subscriber Status for a list [GET]
+ Response 200
    [Subscriber List Status by Subscriber Key and List Id][]

### Change a Subscriber List Status [POST]
+ Request

        {
            "status":"active"
        }

+ Response 200

## Subscriber List Status by Subscriber Key and List Name [/subscriberListStatus/key:{key}/list/{name}]
A single Subscriber entity belonging to a hidden list. Contains relevant subscriber list status data.

+ Parameters
    + key (required, string, `apiary@exacttarget.com`) ... String `key` of the Subscriber to retrieve status data from
    + name (required, string, `Coupon Only List`) ... String `name` of the Subscriber list to retrieve status data from

+ Model (application/json)
    JSON Representation of a subscriber with list status data.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/subscriberListStatus/key:{key}/list/{name}" }
                },
                "id": "123"
            }

### Retrieve a Subscriber Status for a list [GET]
+ Response 200
    [Subscriber List Status by Subscriber Key and List Name][]

### Change a Subscriber List Status [POST]
+ Request

        {
            "status":"active"
        }

+ Response 200

## Subscriber List Status by Subscriber Id [/subscriberListStatus/{id}]
A single Subscriber entity belonging to a hidden list. Contains relevant subscriber list status data.

+ Parameters
    + id (required, number, `123`) ... Numeric `id` of the Subscriber to retrieve status data from. Will default to a hidden list

+ Model (application/json)
    JSON Representation of a subscriber with list status data.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/subscriberListStatus/{id}" }
                },
                "id": "123"
            }

### Retrieve a Subscriber Status for a list [GET]
+ Response 200
    [Subscriber List Status by Subscriber Id][]

### Change a Subscriber List Status [POST]
+ Request

        {
            "status":"active"
        }

+ Response 200

## Subscriber List Status by Subscriber Key [/subscriberListStatus/key:{key}]
A single Subscriber entity belonging to a hidden list. Contains relevant subscriber list status data.

+ Parameters
    + key (required, string, `apiary@exacttarget.com`) ... String `key` of the Subscriber to retrieve status data from. Will default to a hidden list

+ Model (application/json)
    JSON Representation of a subscriber with list status data.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/subscriberListStatus/key:{key}" }
                },
                "id": "123"
            }

### Retrieve a Subscriber Status for a list [GET]
+ Response 200
    [Subscriber List Status by Subscriber Key][]

### Change a Subscriber List Status [POST]
+ Request

        {
            "status":"active"
        }

+ Response 200

## Subscriber List Status by Subscriber Id and List Id for a Child Account and Children [/subscriberListStatus/{id}/list/{listId}/@allorgs?{mId}]
A single Subscriber entity belonging to a hidden list. Contains relevant subscriber list status data.

+ Parameters
    + id (required, number, `123`) ... Numeric `id` of the Subscriber to retrieve status data from
    + listId (required, number, `123`) ... Numeric `listId` of the Subscriber list to retrieve status data from
    + mId (optional, number, `123`) ... Numeric 'mId' of the child account and its children to retrieve Subscriber status data from

+ Model (application/json)
    JSON Representation of a subscriber with list status data.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/subscriberListStatus/{id}/list/{listId}/@allorgs?MID={mId}"}
                },
                "id": "123"
            }

### Retrieve a Subscriber Status for a list for a specific child account and its children [GET]
+ Response 200
    [Subscriber List Status by Subscriber Id and List Id for a Child Account and Children][]

### Change a Subscriber List Status for a list for a specific child account and its children [POST]
+ Request

        {
            "status":"active"
        }

+ Response 200

## Subscriber List Status by Subscriber Id and List Id for the Current Account and Children [/subscriberListStatus/{id}/list/{listId}/@allorgs]
A single Subscriber entity belonging to a hidden list. Contains relevant subscriber list status data.

+ Parameters
    + id (required, number, `123`) ... Numeric `id` of the Subscriber to retrieve status data from
    + listId (required, number, `123`) ... Numeric `listId` of the Subscriber list to retrieve status data from
    
+ Model (application/json)
    JSON Representation of a subscriber with list status data.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/subscriberListStatus/{id}/list/{listId}/@allorgs" }
                },
                "id": "123"
            }

### Retrieve a Subscriber Status for a list for the current account and its children [GET]
+ Response 200
    [Subscriber List Status by Subscriber Id and List Id for the Current Account and Children][]

### Change a Subscriber List Status for a list for the current account and its children [POST]
+ Request

        {
            "status":"active"
        }

+ Response 200

#  Group Subscriber Attribute
    Subscriber Attribute contains the Profile Attributes and Preferences
## SubscriberAttribute - v1 [/v1/subscribers/attributes]
A collection of Subscriber Attribute objects.

+ Model (application/json)
    JSON Representation of a subscribers with list status data.
    + Body
    
            {
                "count":2,
                "page":1,
                "pageSize":25,
                "_links": {
                    "parent": {"/v1/subscribers" },
                    "self": { "href": "/v1/subscribers/attributes" },
                },
                "items" :
                     {
                        "id" : 1221,
                        "name" : "Full Name", 
                        "fieldType" : 0,
                        "minLength" : 0,
                        "maxLength" : 200,
                        "displayOrder" : 1,
                        "displayAs" : "Full Name",
                        "description" : "System default for subscribers full name",
                        "hasRestrictedValues" : false,
                        "isRequired" : 0,
                        "defaultValue" : "true"
                    },
                    {
                       "id" : 212,
                        "name" : "Email Address", 
                        "fieldType" : 0,
                        "minLength" : 0,
                        "maxLength" : 200,
                        "displayOrder" : 2,
                        "displayAs" : "Email Address",
                        "description" : "System default for subscribers email address",
                        "hasRestrictedValues" : true,
                            "restrictedValues" : [1],
                                        {
                                                "valueName" : "Email Address Value",
                                                "isDefault" : "false",
                                                "valueDesc" : "System defalt Email",
                                                "displayOrder": "2",
                                                "defaultValue" : "Email" 
                                            }   
                        "isRequired" : 1,
                        "defaultValue" : "true"
                    }
                
            }

### Retrieve a collection of subscriberAttributes [GET]
+ Response 200
    [SubscriberAttribute - v1][]

## Subscriber Attribute by Attribute ID [/v1/subscribers/attributes/{id}]
A single subscriber attribute object with all its details

+ Parameters
    + id (required, number, `2345`) ... Numeric `id` of the attribute.
    
+ Model (application/json)
   
            {
                "_links": {
                    "parent": { "href": "/v1/subscribers/attributes"},
                    "self":   { "href": "/v1/subscribers/attributes/{id}" },
                 }
                "id" : 213,
                "name" : "User Defined", 
                "fieldType" : 0,
                "minLength" : 0,
                "maxLength" : 2000,
                "displayOrder" : 4,
                "displayAs" : "User Defined",
                "description" : "System default for subscribers User Defined",
                "hasRestrictedValues" : false,
                "isRequired" : 0,
                "defaultValue" : "false"
            }

### Retrieve a Subscriber Attribute [GET]
+ Response 200 (application/json)
    [Subscriber Attribute by Attribute ID][]


### Update a Subscriber Attribute [PATCH]
+ Request(application/json)

        {
                 "_links": {
                    "parent": { "href": "/v1/subscribers/attributes"},
                    "self":   { "href": "/v1/subscribers/attributes/{id}" },
                 }
                "name" : "First Name", 
                "fieldType" : 0,
                "minLength" : 0,
                "maxLength" : 2000,
                "displayOrder" : 1,
                "displayAs" : "First Name",
                "description" : "System default for subscribers First Name",
                "hasRestrictedValues" : false,
                "isRequired" : 0,
                "defaultValue" : "false"
        }
        
+ Response 200 (application/json)
    [Subscriber Attribute by Attribute ID][]

### Delete a Subscriber Attribute [DELETE]
+ Response 200 

#  Group Filters
    FilterDefinition with its details.
    
## FilterDefinition by ID [/dataservice-internal/v1/filters/filterdefinition/{id}]

+ Parameters
    + id (required, guid, `37EEE91D-0931-DF11-B1F8-001E379A7685`) ... Guid `id` of the filterdefinition.

### Delete a FilterDefinition [DELETE]
+ Response 200 

        "37EEE91D-0931-DF11-B1F8-001E379A7685"

## FilterDefinition [/dataservice-internal/v1/filters/filterdefinition]

### Create a FilterDefinition [POST]
+ Request(application/json)

        {
                 "key": "FilterDefinitionTest20",
                 "name": "FilterDefinitionTest20",
                 "description": "FilterDefinitionTest20",
                 "categoryId": 4047,
                 "filterDefinitionXml": "<FilterDefinition Source=\"SubscriberAttribute\"><ConditionSet Operator=\"AND\" ConditionSetName=\"Outer Grouping\"><Condition ID=\"1475\" isParam=\"false\" Operator=\"Equals\" ><Value><![CDATA[Ford]]></Value></Condition></ConditionSet></FilterDefinition>",
                 "derivedFromType": 1
        }
        
+ Response 201 (application/json)

        {       
                 "id": "a10bc14f-d51a-441f-8632-f34391fea797",
                 "key": "FilterDefinitionTest20",
                 "owner": 10650001,
                 "createdDate": "2013-03-22T15:41:26.023",
                 "lastUpdated": "2013-03-22T15:41:26.023",
                 "createdBy": "10650001",
                 "name": "FilterDefinitionTest20",
                 "description": "FilterDefinitionTest20",
                 "categoryId": 4047,
                 "filterDefinitionXml": "<FilterDefinition Source=\"SubscriberAttribute\"><ConditionSet Operator=\"AND\" ConditionSetName=\"Outer Grouping\"><Condition ID=\"1475\" isParam=\"false\" Operator=\"Equals\" ><Value><![CDATA[Ford]]></Value></Condition></ConditionSet></FilterDefinition>",
                 "derivedFromObjectId": "00000000-0000-0000-0000-000000000000",
                 "derivedFromType": 1,
                 "isSendable": false

        }

# Group Blackout Dates
Notes related resources of the **Blackout Dates API**

## Blackout Dates Collection [/messaging-internal/v1/accounts/{id}/blackoutDates/{?startDate,endDate,includeChildren}]
A collection of all Blackout Dates that are in progress or scheduled in the future

+ Model (application/json)
    JSON Representation of a Blackout Dates collection
    + Body
    
            {
                "_links": {
                    "next": { "href": "/accounts/{memberId}/blackoutDates{?startDate,endDate,includeChildren}&$page=2&$pageSize=10" },
                    "self": { "href": "/accounts/{memberId}/blackoutDates{?startDate,endDate,includeChildren}&$page=1&$pageSize=10" },
                    "parent": { "href": "/accounts/{memberId}/" },
                    "includeChildren": { "href": "/accounts/{memberId}?includChildren=true" }
                },
                "items": [
                    {
                        "id": 1, 
                        "name": "January Blackout Dates", 
                        "startDate": "2014-01-20T00:00:00Z", 
                        "endDate": "2014-01-24T23:59:59Z", 
                        "description": "Blackout Dates for January 2014",
                        "accounts": [ 10650001 ]
                    }, 
                    {
                        "id": 2, 
                        "name": "February Blackout Dates", 
                        "startDate": "2014-02-20T00:00:00Z", 
                        "endDate": "2014-02-24T23:59:59Z", 
                        "description": "Blackout Dates for February 2014",
                        "accounts": [ 10650001 ]
                    },
                    {
                        "id": 3, 
                        "name": "Sub Account Blackout Dates", 
                        "startDate": "2014-02-20T00:00:00Z", 
                        "endDate": "2014-02-24T23:59:59Z", 
                        "description": "Blackout Dates for Child Account",
                        "accounts": [ 10650001 ]
                    }
                ],
                "page": 1,
                "pageSize": 10,
                "count": 15
            }

+ Parameters
    + id (required) ... id for the account
    + startDate (optional, string) ... ISO8601 formatted Date String, from which to begin collecting Blackout Dates. 
    + endDate (optional, string) ... ISO8601 formatted Date string, end time to cap results on.
    + includeChildren = `false` (optional, boolean) ... Specify whether or not to display child account Blackout Dates

### List all Blackout Dates for an Account [GET]
+ Response 200
    [Blackout Dates Collection][]

## Blackout Date By Id [/messaging-internal/v1/accounts/{id}/blackoutDates/{blackoutDateId}]
A Blackout Date defines when no user-scheduled messages can be sent in an account (or sub-account)

+ Model (application/json)
    JSON Representation of a Blackout Date
    + Body
    
            {
                "id": 1, 
                "name": "January Blackout Dates", 
                "startDate": "2014-01-20T00:00:00Z", 
                "endDate": "2014-01-24T23:59:59Z", 
                "description": "Blackout Dates for January 2014",
                "accounts": [ 10650001 ]
            }

+ Parameters
    + id (required) ... id for the account
    + blackoutDateId (required) ... id for the Blackout Date
    
### Get Blackout Date By Id [GET]
+ Response 200
    [Blackout Date By Id][]

### Update Blackout Date [PATCH]
+ Request
    
        {
            "name": "Updated January Blackout Dates", 
            "startDate": "2014-05-20T00:00:00Z", 
            "endDate": "2014-05-24T23:59:59Z",  
            "description": "Blackout Dates for May 2014 Updated",
            "accounts": [ 10650001 ]
        }
            

+ Response 200

        {
            "id": 1, 
            "name": "Updated January Blackout Dates", 
            "startDate": "2014-05-20T00:00:00Z", 
            "endDate": "2014-05-24T23:59:59Z", 
            "description": "Blackout Dates for May 2014 Updated",
            "accounts": [ 10650001 ]
        }

### Delete Blackout Date [DELETE]
+ Response 200
    
        {
            "_links": {
                "parent": { "href": "/accounts/{id}" }
            },
            "message": "Blackout Date successfully deleted"
        }


## Blackout Date [/messaging-internal/v1/accounts/{id}/blackoutDates/]
A Blackout Date defines when no user-scheduled messages can be sent in an account (or sub-account)

+ Parameters
    + id (required) ... id for the account

### Create Blackout Date [POST]
+ Request

        {
            "name": "New Blackout Date",
            "startDate": "2014-01-20T00:00:00Z", 
            "endDate": "2014-01-24T23:59:59Z",  
            "description": "Blackout Dates for January 2014",
            "accounts": [ 10650001 ]
        }

+ Response 201

        {
            "id": 4, 
            "name": "New Blackout Date", 
            "startDate": "2014-01-20T00:00:00Z", 
            "endDate": "2014-01-24T23:59:59Z",  
            "description": "Blackout Dates for January 2014",
            "accounts": [ 10650001 ]
        }
        
        

# Group EmailTools
Notes related resources of the **EmailTools API**

## EmailToolsEntity [/EmailServices-Internal/v1/emailTools/]
A single EmailTools entity with all of its details


+ Model (application/json)

        {
            "emailTools": [{
                "name": "Track Email Opens",
                "value": "<custom name=\"opencounter\" type=\"tracking\">",
            },
            {
                "name": "Physical Mailing Address (Required)",
                "value": "<table cellpadding=\"2\" cellspacing=\"0\" width=\"600\" ID=\"Table5\" Border=0><tr><td><font face=\"verdana\" size=\"1\" color=\"#444444\">This email was sent to:  %%emailaddr%% <br><br><b>Email Sent By:</b> %%Member_Busname%%<br>%%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%<br><br></font></td></tr></table>"
            },
            {
                "name": "Forward to a Friend",
                "value": "<a href=\"%%ftaf_url%%\"><img src=\"http://www.exacttarget.com/members/newsletters/gfx/forwardafriendicon.gif\" border=\"0\"></a>"
            },
            {
                "name": "View Email as a Web Page",
                "value": "To view this email as a web page, click <a href=\"%%view_email_url%%\">here.</a>"
            },
            {
                "name": "Privacy Policy",
                "value": "We respect your right to privacy - click <a href=\"http://email.exacttarget.com/company-anti-sp-policy.asp\">here</a> to view our policy."
            },
            {
                "name": "Unsubscribe Center",
                "value": "<a href=\"%%unsub_center_url%%\" alias=\"Unsubscribe\">Unsubscribe</a>"
            },
            {
                "name": "Profile Center (Required)",
                "value": "<a href=\"%%profile_center_url%%\" alias=\"Update Profile\">Update Profile</a>"
            },
            {
                "name": "Subscription Center",
                "value": "<a href=\"%%subscription_center_url%%\" alias=\"Manage Subscriptions\">Manage Subscriptions</a>"
            },
            {
                "name": "Powered By Logo",
                "value": "<a href=\"http://www.exacttarget.com\"><img src=\"http://images.exacttarget.com/smalllogo2.gif\" border=\"0\"></a>"
            },
            {
                "name": "Social Markup",
                "value": "<!-- RegionStart[ contentslot:\"slotname\", title:\"Title of Shared Content web page\", description:\"customer key of CSS file in portfolio\", csskey:\"Description of Shared Content web page\"] -->\n<!-- Creates a link to share this content with a social network -->\n<a href=\"%%=GetSocialPublishURL('replacewithsocialnetwork','slotname')=%%\" alias=\"Publish to Social Network Name - slotname\" title=\"Publish to Social Network Name\"><img src=\"icon url\" alt=\"Social Network Name\" title=\"Social Network Name\" border=\"0\"></a>\n<!-- RegionEnd[ contentslot:\"slotname\"] -->"
            },
            {
                "name": "Facebook Like",
                "value": "<!-- RegionStart[ contentslot:\"slotname\"] -->\r\n\r\n<!-- Creates a Facebook 'LIKE' button.  Content slot name in RegionStart/RegionEnd must match the value of the \"contentslot\" \r\n     JSON property.  JSON properties in \"templates\" map to Facebook Like Widget properties as of '8/25/2011'.   \r\n     See http://developers.facebook.com/docs/reference/plugins/like/ for additional documentation for the 'LIKE' properties below. -->\r\n\r\n<div id=\"CONTAINER_FB1399386754263\"><!-- %%[ IF _MessageContext == \"Social\" THEN ]%% -->\r\n<!--__FBDIV_FB1399386754263__-->\r\n<!-- %%[ ELSE ]%% -->\r\n<a href=\"%%=GetSocialPublishURL('13','FB1399386754263')=%%\" id=\"FB1399386754263\" alias=\"Publish Like to Facebook\" fb=\"true\">\r\n<img border=\"0\" alt=\"Facebook Like\" src=\"\" />\r\n</a>\r\n<!-- %%[ ENDIF ]%% -->\r\n  <!-- {\"id\":\"FB1399386754263\",\r\n        \"type\":\"facebooklike\",\r\n        \"contentslot\":\"slotname\",\r\n        \"templates\":{\r\n        \"ogtags\":[{\"property\":\"og:title\",\"content\":\"title\"},\r\n                    {\"property\":\"og:description\",\"content\":\"\"},\r\n                    {\"property\":\"og:site_name\",\"content\":\"localhost\"},\r\n                    {\"property\":\"og:image\",\"content\":\"\"},\r\n                    {\"property\":\"fb:app_id\",\"content\":\"1234567890\"},\r\n                    {\"property\":\"og:type\",\"content\":\"article\"}],\r\n        \"fblike\":{\r\n          \"send\":false,\r\n          \"layout\":\"standard\",\r\n          \"show_faces\":true,\r\n          \"width\":450,\r\n          \"action\":\"like\",\r\n          \"font\":\"arial\",\r\n          \"colorscheme\":\"light\",\r\n          \"ref\":\"\"}}} -->\r\n</div>\r\n<!-- RegionEnd[ contentslot:\"slotname\"] -->\r\n"
            }]
        }



### Retrieve emailTools [GET]
+ Response 200 (application/json)

    [EmailToolsEntity][]

        